[2010-03-12 04:12] wh5a opened #1 "How hard is it to integrate with the auto-complete engine?"
Auto-complete is also hosted on github: http://github.com/m2ym/auto-complete. It conveniently shows a popup when completion is available.

Currently I'm using http://madscientist.jp/~ikegami/diary/20090215.html, which while usable, is a unextensible hack.

[2014-04-03 02:05] #1 closed, assigned to nobody

[2015-08-20 15:29] cblp opened #558 "Bug: Without extension file cannot be recognized"
[code]

ghc-mod version 5.2.1.2 compiled by GHC 7.8.4

[2015-08-20 21:59] peti opened #559 "How to get rid of "Could not find a component assignment" warning"
Every time I load a Haskell module into ghci, I get the following warning:

[code]

The project _does_ have a Cabal file and the module I'm editing is listed properly in that file, so I'm a little puzzled why that warning occurs. Is there anything I can do to make that warning disappear, i.e. by configuring the name of the component manually?

[2015-08-21 01:55] DanielG commented on #559
This warning has been demoted to a debug message in master since this is pretty much the behaviour we had in 5.2. Now as to why this is happening, if you look at the `Cabal component` section of the `ghc-mod debug` output you'll find your module graph for each component there. If you see no references to the file you're trying to work with in any component then ghc-mod can't figure out which compo

[2015-08-21 02:15] DanielG opened #560 "Updating stack dependencies doesn't work"
@PierreR

[2015-08-21 02:16] DanielG commented on #558
This is tricky since that error is coming from the GHC API I believe. But it's probably just related to `guessTarget`.

[2015-08-21 09:43] peti commented on #559
The file I'm editing is the "main" module of the `hackage2nix` executable that shows up in the debug output like so:

[code]

Now, the `exe:hackage2nix` bit look suspicious to me, because there's no module attached to it. Shouldn't the "main" module show up here? My Cabal file certainly declares those modules properly:

[code]

Am I missing something?

[2015-08-22 05:40] konn opened #561 "Ghc-mod sometimes cannot highlight files in case-insensitive filesystems"
Emacs front-end for ghc-mod-5.3.0.0 does not highlight warnings/errors correctly in my environment.
For example, in the following, LINE 1 is highlighted as error instead of LINE 4:

[code]

Here's my environment:
- ghc-mod-5.3.0.0 package (installed with`cabal install ghc-mod`)
- ghc.el 5.3.0.0 (installed from melpa-stable with package-install)
- GNU Emacs 24.5.1 (installed with`brew install emcs-

[2015-08-22 16:46] novaluke opened #562 "When using stack, ghc-mod no longer reports warnings"
Before I started using Stack I would get warnings from ghc-mod about all sorts of things, such as unused imports, or variable shadowing, etc. I'm now using Stack and the master branch of ghc-mod and I no longer get those warnings.

Were these warnings removed at some point, or is this some kind of bug? I'd really like to have these warnings back - they're the main reason I was using ghc-mod instea

[2015-08-23 01:23] mikail-khan opened #563 "Not pulling down correct version of happy"
Hi,
I'm new to Haskell and I was setting up my environment. I tried to install ghc-mod via cabal but it fell down due to the correct version of happy not being in my distribution (ghc-mod is expecting a version >= 1.17). It was easily fixed by doing cabal install happy which then proceeded to pull down version 1.19. I'm just wondering whether that is an issue with the ghc-mod build script in that

[2015-08-24 09:13] DanielG commented on #562
Add `-Wall` to `ghc-options` in your cabal file.

[2015-08-24 09:18] DanielG commented on #563
Haven't looked into why this _still_ is an issue in a while but I think this is the one: https://github.com/haskell/cabal/issues/220 which also links to this: https://github.com/haskell-suite/haskell-src-exts/issues/14

[2015-08-24 09:18] #563 closed, assigned to nobody

[2015-08-24 09:21] DanielG commented on #559
That is suspicious indeed. Can you post the entire output of `ghc-mod debug -v7` after doing `rm -r dist/`.

[2015-08-24 09:22] DanielG commented on #559
Oh and a `find .` for good measure so I can figure out where stuff is in your project.

[2015-08-24 09:28] DanielG opened #564 "ghc, ghc-pkg programs should be part of Cradle and set correctly when using stack"
See `ghcProgram` and `ghcPkgProgram` in `Options`.

(part of #498)

[2015-08-24 10:24] DanielG commented on #564
`stack exec which ghc{,-pkg}` should be helpful

[2015-08-24 12:05] PierreR opened #565 "Inhibit stack support when dist/setup-config exists ?"
I was happy to see 19e62b0a6a because the recent `stack support` creates all sort of problems for me. Unfortunately it does not seem to work.

I mean. I still get a lot of messages saying :

[code]

To the point it makes emacs unworkable.

[2015-08-24 13:12] DanielG commented on #565
What does it make it unusable? That message should go away as soon as you actually do `stack build`.

I can't actually reproduce this here, as soon as I `cabal configure` ghc-mod uses cabal's distdir instead of stack's.

[2015-08-24 13:36] PierreR commented on #565
The most annoying think is these warning messages. In `emacs` you don't have one message but many of them (I guess one for each loaded module). Then I get one again each time I do `ghc-type` ... Very annoying ;-)

I can't make them disappear except by removing the `stack.yaml` file which is what I am doing as a temp solution.

PS: I do have a `dist/setup-config`. When I do `cabal configure` these

[2015-08-24 13:43] DanielG commented on #565
Well I dunno what to tell you but unless the dist/setup-config file is disappearing for some reason that shouldn't happen: https://github.com/kazu-yamamoto/ghc-mod/blob/master/Language/Haskell/GhcMod/CabalHelper.hs#L186

[2015-08-24 13:46] PierreR commented on #565
That's ok. If I am the only one to complain I am probably doing something wrong. It is not a big deal, in the meanwhile I just go on without the `stack.yaml` file.
Thanks for your help. Do you want me to close this issue ?

[2015-08-24 14:04] DanielG commented on #565
No I want you to debug it :p

[2015-08-24 14:11] alanz commented on #565
FWIW, I am seeing this too, which current ghc-mod head and elisp from elpa/melpa.

.dist directory and stack.yaml, I am being asked to do stack build

[2015-08-24 14:22] DanielG commented on #565
Maybe it's another caching bug.. does deleting `dist/setu-config.ghc-mod.*` help?

[2015-08-24 14:37] alanz commented on #565
In my case those files don't exist. But it is a starting project, so the
dependencies in cabal are likely broken, that may be causing issues

On Mon, Aug 24, 2015 at 4:22 PM, Daniel Gröber notifications@github.com
wrote:

[2015-08-24 15:47] novaluke commented on #562
Thanks! That certainly gets the warnings to show up.

I've discovered something else as a result of this, though: if I run `stack build` then `ghc-mod check Foo.hs` will stop giving any output until I modify `Foo.hs` again (ie. `touch Foo.hs`). However, this only appears to happen if stack decides to actually build new files. For example:

[code]

The second time I ran `stack build` it seems to ha

[2015-08-24 16:10] 0rzech opened #566 "Elisp ghc-mod freezes spacemacs"
Emacs version: 24.5.1
Spacemacs version: 0.103.5
elisp ghc-mod version: 20150820.1912
ghc version: 7.10.2
OS: Linux Mint 17.2 Cinnamon

I have Haskell layer enabled in Spacemacs config. After updating ghc-mod to above version, Spacemacs consistently freezes with 100% CPU usage when attempting to open *.hs file. When I blacklist ghc-mod in Spacemacs, files open just fine, as earlier.

[2015-08-24 19:55] peti commented on #559
I can no longer reproduce the error. :confused:

I seem to recall that I ran into this issue after doing some serious refactoring. I moved modules around, created new ones, removed old ones, etc., and then the error I described occurred _every time_ I loaded some module. I made sure to re-configure the project; I cleaned out `dist`, I restarted Emacs, but the error persisted. Yet, now I can no lon

[2015-08-24 21:40] tdupes opened #567 "buffer hanging when saving or changing buffer (repeat of #523)"
I am having the same issues as the problem from #523. I am not sure why he closed it  I get that the problem goes away when I create a new haskell file (.hs file specifically)  but I think the bug should still remain reported.

[2015-08-25 03:51] DanielG commented on #562
try passing `-g-fobject-code` or `-g-XTemplateHaskell` I think this is the HscNothing thing again: #554

[2015-08-25 17:15] acowley commented on #567
Can you take a whack at describing the problem? I appreciate that it's related to the other issue, but I'm having trouble understanding what happens under what circumstances. Is it a hang, or is there an error? When you create a new Haskell file, does the problem go away altogether, or just for the buffer that was hanging? Can you walk through some operations to perform after starting emacs to tri

[2015-08-25 18:29] alanz commented on #567
With current ghc elisp via spacemacs and ghc-mod from master, I still need to back this commit out to get rid of the hang

https://github.com/kazu-yamamoto/ghc-mod/commit/3bf4243bafc2c5713da6c63851e1a2d0a206d768

[2015-08-25 18:38] acowley commented on #567
@alanz can you maybe answer some of the questions I asked?

@ThomasDuPlessis  are you also running spacemacs?

[2015-08-25 18:44] tdupes commented on #567
I'm running regular emacs, not spacemacs. I should also note that my problem is exactly the same as #523 the problem only occurs after w very save. and creating creating a new hs file in emacs stops the problem in all buffers.

[2015-08-25 18:58] acowley commented on #567
Thanks @ThomasDuPlessis! So, you start emacs, try to edit a non-Haskell file, and when you save, you get the ghc-mod error? Or, you start emacs, edit a Haskell file, error on save, and then you create a new Haskell file? It seems rather likely that `ghc-process-running` just isn't getting initialized in some circumstances. Perhaps these are files getting opened with some kind of session management

[2015-08-25 19:10] alanz commented on #567
I am trying to set up a test example but of course it does not hang now.

On Tue, Aug 25, 2015 at 8:38 PM, Anthony Cowley notifications@github.com
wrote:

[2015-08-25 19:16] tdupes commented on #567
I got the error after a clena install of ghc-mod and did the following:
1. open a haskell file from one cabal project
2. open a second haskell file from a different cabal project.
3. open a third haskell file form the same project as number 2, make some edits and try to save. Which made emacs unresponsive for 10 seconds and made my cursor turn into a loading symbol. After the 10 seconds, the messa

[2015-08-25 20:43] alanz opened #568 "ghc-mod regenerates dist/setup-config.ghc-mod.resolved-components"
Every time I save a file or open a new one, it takes a long time and the timestamp on `dist/setup-config.ghc-mod.resolved-components` becomes the current time.

I suspect the cache is being rebuilt each time.

Using ghc-mod at https://github.com/kazu-yamamoto/ghc-mod/commit/c5db06af0fea8044757b7b563c0e7ef9de2fe6c6

[2015-08-26 00:40] luigy commented on #567
here is a quick [video](https://cldup.com/7qNPJsSP20.mp4) of emacs hanging using stack + ghc-mod + spacemacs setup

first with vanilla `stack` it hangs forever (maybe after #564 we get there without hacks), but the second time after taking advantage of 19e62b0a6a8be66268c01a0b29c80384e23014bf at least it boots and works okayish, but when saving I get long hangs and when switching to another haskel

[2015-08-26 02:34] bixuanzju commented on #567
@luigy Exactly same problem here. Curious how you installed ghc-mod, by stack or cabal-install?

[2015-08-26 02:50] DanielG commented on #568
The cache should only be rebuilt starting from the file you modified so that shouldn't take toooo long. How big is the module graph cache file? Maybe actually writing it out to disk is taking too long.

[2015-08-26 06:01] alanz commented on #568
The module graph cache file is 62Kb. The problem is that it then shows in
the message bar that it is loading all the dependencies, which in this case
includes the GHC API and this is what takes all the time.

On Wed, Aug 26, 2015 at 4:50 AM, Daniel Gröber notifications@github.com
wrote:

[2015-08-26 15:13] ruhatch opened #569 "cabal-helper compilation fails inside stack project"
I'm trying to get `ghc-mod` working with a `stack` project, but I'm having problems with the compilation of `cabal-helper`. When I run `ghc-mod debug` outside of the project folder it is fine, but inside the folder I see the following:

[code]

Any idea what's going on?

[2015-08-27 00:10] DanielG commented on #569
Downgrade cabal-helper to 0.5.1.0, 0.5.2.0 was a botched release unfortunately.

[2015-08-27 00:46] ruhatch commented on #569
Aha, there we go, thank you so much.

[2015-08-27 00:46] #569 closed, assigned to nobody

[2015-08-27 01:06] kazu-yamamoto commented on #561
Please type the following and tell me its output:

[code]

[2015-08-27 01:14] konn commented on #561
Here is the result:

[code]

In addition, here is [my .emacs.d](https://github.com/konn/.emacs.d) (especially, settings for Haskell is [here](https://github.com/konn/.emacs.d/blob/master/site-start.d/init_haskell.el)).

[2015-08-27 01:21] konn commented on #561
In this situation, if I put the cursor between 1:2 and 1:18 and hit `M-t`, then ghc-mod asks whether insert module for `undefine` or not, but the cursor is on 1:1, emacs reports following error:

[code]

[2015-08-27 01:26] kazu-yamamoto commented on #561
`ghc-mod` itself is working well.

So, what happens if you install the latest version from github? Please don't forget to directly install Elisp frontend, too.

[2015-08-27 01:27] konn opened #570 "Wrong import list insertion"
Emacs front-end determines the tail of `import` lists incorrectly under the presence of function definition starting with `import`. Consider the following:

[code]

If I tell `ghc-mod` to import the module `Data.List` for `intercalate`, then the above code gets:

[code]

My environment is the same as #561, and hence I also have to put the cursor on 1:2 - 1:17 to launch the import list completion.

[2015-08-27 01:29] kazu-yamamoto opened #571 "Adding the output from "ghc-mod debug" to ghc-debug of Emacs frontend"
@DanielG asked me this.

[2015-08-27 01:33] konn commented on #561
I've just re-installed from `kazu-yamamoto/ghc-mod:master`, but the result remains the same.

[2015-08-27 01:43] kazu-yamamoto commented on #570
Good catch. Try the latest version.

[2015-08-27 01:46] konn commented on #570
I confirmed that it works correctly. Thanks!

[2015-08-27 01:46] #570 closed, assigned to kazu-yamamoto

[2015-08-27 01:51] kazu-yamamoto commented on #561
Would you evaluate `(setq ghc-debug t)` first, then open the file. At the time, you can find the "*GHC debug*" buffer. Would you show me the buffer contents?

[2015-08-27 01:53] konn commented on #561
Sure. Here is the result: https://gist.github.com/konn/1e20a8220600491c1f7e

[2015-08-27 01:56] konn commented on #561
I've also just found that the following error message is shown on top of the `*Messages*` buffer after the Emacs has been launched:

[code]

(I put elisps from `master` to `.emacs.d/elpa/ghc-5.3.0.0` to get other melpa packages depending on ghc-mod working).

Perhaps this is related to this issue...?

[2015-08-27 02:08] kazu-yamamoto commented on #561
The output seems OK.

[2015-08-27 02:09] kazu-yamamoto commented on #561
In `.emacs` or somewhere, you might require `ghc-autoloads` which is not delivered by `ghc-mod`. You should remove the settings.

[2015-08-27 02:15] konn commented on #561
lgrep-ing `ghc-autoloads` for `**/*.el` in `~/.emacs.d`, but only the following was found:

[code]

I also cleared the precompiled caches by  `rm ~/**/*.elc` and restarted the Emacs, but the error messages and ghc-mod behaviour remains the same....

[2015-08-27 02:36] kazu-yamamoto commented on #561
I heard that haskell-mode itself now has highlight feature. We need to check if haskell-mode one and ghc-mod one does not interfere.

[2015-08-27 10:32] peti commented on #559
The error is back! Here is the information you wanted:

[code]

The source tree lives at https://github.com/NixOS/cabal2nix.

[2015-08-27 11:44] peti commented on #559
Here is another example, now after updating to the latest versions:

[code]

I edit `src/Distribution/Nixpkgs/Haskell/FromCabal/Configuration/GHC7102.hs` and get the warning every time I save the file or re-load it into GHCi.

[code]

[2015-08-27 12:11] dbushenko commented on #561
I have switched from haskell-mode to java-mode while running ghc-mod. The error message is highlighted only on the top of the file the same as @konn said. I believe it is something in elisp code of ghc-mod.

[2015-08-27 12:14] dbushenko commented on #561
ghc-goto-next-error is also not working

[2015-08-27 14:57] DanielG commented on #559
Well something fishy is going on indeed, judging from the module graph everything should be fine :/

I guess I'll have to add some more tracing stuff that gets dumped to disk so we can look at the internal state of the module graph when this happens.

[2015-08-28 00:58] kazu-yamamoto commented on #561
@dbushenko What is the intention to switch java-mode? If users do such a thing, any bad things can occur.

[2015-08-28 01:24] kazu-yamamoto commented on #571
Done.

[2015-08-28 01:24] #571 closed, assigned to kazu-yamamoto

[2015-08-28 01:27] kazu-yamamoto commented on #566
If this is identical to #542, this issue is already fixed in the master. Please try the master branch. Be sure that the latest Elisp code is surely used.

[2015-08-28 01:33] TheCrafter commented on #566
@kazu-yamamoto  Note: In #542 there wasn't 100% CPU usage. In fact, the cpu usage wasn't even a problem. Plus the issue there was only on Windows platform.

[2015-08-28 01:35] kazu-yamamoto commented on #567
Does 3bf4243bafc2c5713da6c63851e1a2d0a206d768 actually implement timeout? When I tried to fix #542, I felt that timeout does not work at all. Should we revert this commit?

[2015-08-28 01:39] kazu-yamamoto commented on #566
@TheCrafter I also suspect that this is relating to #542.

@porzechowski Anyway, please give a try to the latest ghc-mod on github.

[2015-08-28 03:01] acowley commented on #567
It was a [critical fix](https://github.com/kazu-yamamoto/ghc-mod/issues/491) for me to be able to use ghc-mod with large projects, but I can permanently switch over to a fork if it's causing trouble for more people than it's helping. @alanz has mentioned several times that he has to revert that patch for anything to work for him, and I haven't had time to debug the issue here as I can't reproduce

[2015-08-28 04:25] 0rzech commented on #566
@kazu-yamamoto Updating Elisp ghc-mod to version 20150826.1842 didn't help (my ghc-mod was 5.3.0.0 from Hackage), but I've spotted a `ghc-mod: unknown command: `map-file'` warning today. [Solution](//github.com/syl20bnr/spacemacs/issues/2709#issuecomment-133594452) from [spacemacs #2709](//github.com/syl20bnr/spacemacs/issues/2709) (which is consistent with your suggestion) helped in my case. Than

[2015-08-28 07:44] dbushenko commented on #561
@kazu-yamamoto Yes, certainly I understand that this is harmful. I just tried to use any other mode without error highlighting so that it will not interfere with ghc-mod highlighting. And that didn't help.

Also it does not find errors with ghc-goto-next-error. This is why I think that the bug is not in the highlighting itself, maybe it is a bit deeper.

What I'm interested in, do you see your err

[2015-08-28 08:39] DanielG opened #572 "Some exceptions are not pretty printed"
Not sure what's going on there :/

`rm -rf ~/.stack`

[code]

[2015-08-28 09:21] mimi1vx opened #573 "ghc-mod: Could not find $libexecdir/cabal-helper-wrapper"
ghc-mod search 'cabal-helper-wrapper' in libexec directory which isnt specified in FHS ,  and in many linux distributions is not available

Please add support for cabal-helper wrapper in standard system PATH

[2015-08-28 13:28] DanielG commented on #573
I call bullshit about the FHS claim: http://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s07.html

Now if you told me which distro you are talking about or what the specific problem is I might be able to do something about it.

[2015-08-28 13:29] DanielG commented on #573
Besides if you're packaging for a distro that doesn't like libexec just pass --libexecdir=$bindir or something like that to cabal.

[2015-08-28 16:20] mimi1vx commented on #573
Oh , you are right , newest FHS support it,

but I have problem with openSUSE:Tumbleweed package :(
openSUSE packaging guidelines are built on older FHS

[2015-08-28 17:31] novaluke commented on #562
Unfortunately neither of those flags solve it, but I do have another project (scaffolded with `yesod init`) that doesn't exhibit this issue. I'll spend some time figuring out the differences between the two projects and report back when I have more information.

[2015-08-28 21:10] dbushenko commented on #561
OK, my problem was: I have installed ghc-mod version 5.3, but emacs plugin was 5.2. After I have updated emacs plugin, it started working again as it was earlier! :-)

But integration with stack still doesn't work :-(

[2015-08-29 01:18] bixuanzju opened #575 "ghc-mod + stack: Emacs hanging opening Haskell file"
`ghc-mod` + `stack` work fine from the command line, but using it inside Emacs hangs Emacs, buffer freezes on "Initialiing ...", and I have to `C-g` to cancel. Besides, if I use the `cabal` instead of `stack`, everything works fine. So I suspect there's something wrong in the elisp code for the `stack` integration.

I am using Emacs 24.5, both the elisp and binary are compiled from the github repo

[2015-08-29 04:08] luigy commented on #575
hey I think I figured it out! `stack` logging of [lockfile warnings](https://github.com/commercialhaskell/stack/blob/9fedeff78805647756502f72aae1ed471821f73d/src/main/Main.hs#L582) messes up what the elisp code expects...
I removed the lockfile logging from `stack` and it doesn't hang anymore
cc @kazu-yamamoto

with vanilla stack:

[code]

[2015-08-29 10:30] bixuanzju commented on #575
@luigy It didn't work in my case. Where did you see that `Failed to grab lock ...` message?

[2015-08-29 11:15] luigy commented on #575
add `(setq ghc-debug t)` to your dotspacemacs/config and make sure you don't have a `dist` folder around root dir

I'm also using a `ghc-mod` compiled from `dev-stack` branch ( I haven't tried it out with master yet) and latest elisp code that spacemacs installs for `ghc-mod` is fine

you should see a `*GHC Debug*` buffer after doing a C-g when it hangs on `Initializing ....` and most likely it sh

[2015-08-29 12:55] bixuanzju commented on #575
@luigy Thanks, I can reproduce now. Wonder why there is other stack instance running when using ghc-mod inside Emacs.

[2015-08-29 13:17] luigy commented on #575
@bixuanzju  should be related to commercialhaskell/stack#872 ... `stack path` is called a few times in `dev-stack` to get different paths
get rid of that logging and `stack` support looks good so far

[2015-08-29 16:27] DanielG commented on #573
As I said `--libexecdir=whatever-you-want` just put it in `/usr/lib/ghc-mod` or something IIRC that's what the old FHS suggests.

[2015-08-29 16:41] DanielG commented on #575
Which branch are you guys even using? Anyways the lockfile logging stuff was fixed in stack master some time ago and I got a bunch of other stuff we needed merged, should go into stack-1.4, or so I've been told. Will be working on stack support again this Monday so just hang on for a while ;)

[2015-08-29 16:54] luigy commented on #575
@DanielG nice! feels so good to have "stackReconfigure" back with stack + ghc-mod... working good so far :raised_hands:  Haven't ran into any problems yet ;)

The lockfile warnings keep happening to me on stack master, though

[2015-08-30 01:03] TheCrafter opened #577 "ghc-mod cannot find installed dependency"
I use the latest ghc-mod (I downloaded and compiled the master branch). Before I describe the problem here is some information about my environment:
Platform: `Windows 8.1 x64`
cabal: `version 1.22.6.0 using version 1.22.4.0 of Cabal library`
ghc: `version 7.10.2`

Here is my code:

[code]

And ghc-mod reports that cannot find the `System,Directory` and it recommends me to add it on depends field

[2015-08-31 00:16] kazu-yamamoto commented on #561
@konn Do you use emacs plugin?

[2015-08-31 00:47] kazu-yamamoto commented on #566
@porzechowski If your problem is gone, would you please close this ticket by yourself.

[2015-08-31 01:29] DanielG commented on #561
@dbushenko stack support didn't make it into 5.3, the support on master is still a bit WIP. So just hang on until the next release or follow the [dev-stack](https://github.com/kazu-yamamoto/ghc-mod/tree/dev-stack) branch if you're feeling adventurous.

[2015-08-31 03:00] konn commented on #561
@kazu-yamamoto What does "emacs plugin" mean?

[2015-08-31 05:09] kazu-yamamoto commented on #561
I don't know. But now I know this is not the source of your problem.

[2015-08-31 05:14] kazu-yamamoto commented on #567
Reverted.

[2015-08-31 07:47] TheCrafter commented on #577
It appears that the issue resolved itself after deleting everything from project (including sandbox) and reinstalling them again a couple of times.

However, the last 2 more problems with emacs crashing and the next/previous error not working still remain.

I will try to install ghc-mod release and not build it from master to see what happens.

[2015-08-31 08:13] #572 closed, assigned to DanielG

[2015-08-31 23:04] #566 closed, assigned to kazu-yamamoto

[2015-09-01 01:00] kazu-yamamoto commented on #567
I would close this issue.

[2015-09-01 01:00] #567 closed, assigned to kazu-yamamoto

[2015-09-01 02:08] DanielG opened #578 "Interleaved output when using stack"
Shouldn't use gmUnsafeReadProcess in Cradle. Need to refactor monad stack to fix this properly.

[2015-09-01 14:28] NightRa opened #579 "Pattern Match Failure"
On master a0a74332126999a3fd75c2f6a697bf33fff24124, running:
`ghc-mod browsr -d Data.Functor`
gives:
`Pattern match failure in do expression at Language\Haskell\GhcMod\CabalHelper.hs:155:3-10`
I'm using stack.
I think the reason is that almost every command outputs at the start:
`Setting codepage to UTF-8 (65001) to ensure correct output from GHC`,
including stack and ghc-mod.

[2015-09-02 02:04] DanielG commented on #579
Is that being output on stdout? If so that's a bug in stack.

[2015-09-02 02:05] DanielG commented on #565
Interresting I can reproduce this when actually using the emacs frontend. Weird.

[2015-09-02 02:58] DanielG commented on #578
https://github.com/kazu-yamamoto/ghc-mod/commit/41de8b8b2e98cabc4e33a0c7d46a2033bb230745

[2015-09-02 02:58] #578 closed, assigned to nobody

[2015-09-02 03:01] DanielG commented on #565
@kazu-yamamoto this might have something to do with the way the frontend invokes ghc-mod, specifically on `boot`, can you try to reproduce this?

[2015-09-02 03:47] bixuanzju commented on #575
@DanielG I am always using the master branch, but lockfile problem still persists.

[2015-09-02 04:56] DanielG commented on #575
@bixuanzju You're using stack from master too?

[2015-09-02 05:10] #564 closed, assigned to nobody

[2015-09-02 05:29] bixuanzju commented on #575
@DanielG yes, everything from master

[2015-09-02 05:33] DanielG commented on #575
Well you'll have to figure out where the other stack process(es) are coming from then since I can't reproduce this. It might have to do with `ghc-mod legacy-interactive` forking off a thread to build the `find` symbol table on startup. That has caused a race condition with cabal-helper before so it's not impossible that this is causing trouble again.

[2015-09-02 06:09] NightRa commented on #579
@DanielG Just checked, it's on stderr.

[2015-09-02 06:10] NightRa commented on #579
Note: `ghc-mod` outputs `Setting codepage to UTF-8 (65001) to ensure correct output from GHC` twice on every invocation.

[2015-09-02 06:13] DanielG commented on #579
kk that's unrelate then.

Paste the output of `stack path` please. Looks like we can't find `ghc` on stack's bin-path. Maybe they don't include the directories where they install ghc into in that.

[2015-09-02 06:14] NightRa commented on #579
[code]

[2015-09-02 06:15] DanielG commented on #579
Ah right you need stack master because of this issue: https://github.com/commercialhaskell/stack/commit/aac1b86aa62c79fdd9ca55e76b3f5f789c6d4215

[2015-09-02 06:16] NightRa commented on #579
Alright. This is fixed then! Thanks.

[2015-09-02 06:16] #579 closed, assigned to nobody

[2015-09-03 02:22] DanielG opened #580 "Warnings not being re-emitted in the presence of compilation outputs"
`DriverPipeline.hs`

[code]

`HscMain.hs`

[code]

[2015-09-03 11:31] navilan opened #581 "Rewrite the command line parser using optparse-applicative"
[code]

[2015-09-03 21:36] ajnsit commented on #575
Can confirm. I had to modify the stack code to remove the code that prints the locking error message, and the problem got resolved!

[2015-09-04 02:10] DanielG commented on #560
@PierreR can you try this again with master now a bunch of stuff related to stack support changed and I don't think this is still valid. Note that you need stack-0.1.4.0 (i.e. HEAD since that's not released yet).

[2015-09-04 19:25] TheCrafter commented on #577
I will open 2 new issues with those 2 problems. Feel free to close this one whenever you want.

[2015-09-04 19:26] TheCrafter opened #582 "emacs can't move to next or previous errors"
I use the latest ghc-mod (I downloaded and compiled the master branch). Before I describe the problem here is some information about my environment:
Platform: `Windows 8.1 x64`
cabal: `version 1.22.6.0 using version 1.22.4.0 of Cabal library`
ghc: `version 7.10.2`

I cannot move to next and previous error in emacs. It says `No further notes from Haskell compiler.` (When I move manually my cursor o

[2015-09-05 04:19] #577 closed, assigned to nobody

[2015-09-05 04:42] vu3rdd opened #583 "opening a haskell source file in emacs hangs with "initializing..." in the message area"
I am running Debian GNU/Linux "testing" on 64-bit hardware.
emacs-version: GNU Emacs 24.5.1 (x86_64-pc-linux-gnu, GTK+ Version 3.16.4) of 2015-06-29 on trouble, modified by Debian
ghc: 7.10.2
ghc-mod: 5.3.0.0

If I open a .hs file in emacs, I get an "initializing...". If I do "ctrl-g" twice, it gets out of this loop. I find in the buffer list that the file is already open in a buffer. This seem si

[2015-09-05 12:23] tgkokk commented on #583
Hi,

I had the same error on OS X. Using `ghc-mod` from this repo works for me. You can just clone this repo, do a `cabal install` (assuming you've uninstalled the previous version of `ghc-mod`) and then add `ghc-mod/elisp` to your `load-path` in Emacs (again, assuming you've uninstalled the previous version of `ghc`).

[2015-09-05 15:35] PierreR commented on #560
I have just checked this again and it works fine. Thanks.

[2015-09-05 15:37] #560 closed, assigned to nobody

[2015-09-05 16:07] PierreR commented on #575
I can confirm this as well. By adding  `2>/dev/null` as mentioned in  #454 I still get the message `Failed to grab lock` a couple of times (even with stack-1.4 version)  but no more infinite loops.

As an aside, I have to use the `ghc-mod` binary generated by `cabal` in `.cabal-sandbox`. If I try to use one generated by `stack install` (in `~/.local/bin/`), it hangs forever as well.

[2015-09-05 16:30] PierreR commented on #583
If you are using `stack` it might be related to #575. You might also try to add `2>/dev/null` a trick mentioned in #454.

[2015-09-05 16:51] vu3rdd commented on #583
@PierreR Yes, I am using stack. Thanks, I will take a look at #575.

[2015-09-08 05:50] #573 closed, assigned to nobody

[2015-09-08 06:44] mimi1vx commented on #573
@DanielG, thx for suggestions , my solution is --libexecdir=%{_libexecdir} and add to /etc/profile/ file ghc-mod.sh with:

export cabal_helper_libexecdir=%{_libexedir}, generated in spec file

[2015-09-08 06:46] DanielG commented on #573
I suppose that works too ;)

[2015-09-08 06:50] bixuanzju commented on #575
@DanielG FYI, I am still having the same problem in the master branch

[2015-09-08 07:08] DanielG commented on #575
That's all nice and well but without more information or a way to reproduce this I can't really do anything about it >_>

[2015-09-09 02:35] kazu-yamamoto commented on #582
Are you talking about `M-p` and `M-n`? If so, I guess you (accidentally) override the key-bindings to `M-p` and `M-n` since `No further notes from Haskell compiler` is not generated from the Emacs frontend.

[2015-09-09 02:42] DanielG commented on #582
Hang on didn't the haskell-mode people talk about some error overlay support? Maybe that's them overriding our keybindings?

[2015-09-09 02:42] DanielG commented on #582
There you go: https://github.com/haskell/haskell-mode/blob/ea977e9bfab40eaf12d8ecbba50e23f3764afef0/haskell.el#L53

[2015-09-09 02:43] DanielG commented on #582
Also: https://github.com/haskell/haskell-mode/issues/856

[2015-09-09 02:57] DanielG opened #586 "stack: readPackageDb: inappropriate type"
[code]

Doing `stack ghc -- --version` on every run seems too slow can't think of a better way to do this right now.

[2015-09-09 03:43] kazu-yamamoto opened #587 "Old Haskell mode"
The Emacs frontend should display a warning if haskell-mode is old.

[2015-09-09 03:45] DanielG opened #588 "elisp: Make frontend initialization asynchronous"
Just call `ghc-mod boot` wait for it to complete (asynchronously) and then call `ghc-init` again. (or something like that)

[2015-09-09 03:45] kazu-yamamoto opened #589 "Emacs frontend booting with stack"
It takes too much time if stack is used at the first time. So, booting should be asynchronous and callback when finished.

[2015-09-09 03:47] kazu-yamamoto commented on #589
Closing because of #588.

[2015-09-09 03:47] #589 closed, assigned to kazu-yamamoto

[2015-09-09 05:00] DanielG opened #590 "Profiling and Optimization"
The home module graph resolution, Stack and cabal-helper really made things quite slow. We should add timestamps to log messages and add a bunch of tracing all over that code so we can find the hot spots. (Or try getting profiling working with `ghc` but that always turns out to be a huge pain because TH doesn't work with a profiled compiler)

[2015-09-09 08:28] TheCrafter commented on #582
Yeah but how can I change it?

Writing this in my .emacs:

[code]

is not enough.

Well, of course I can always assign it another hotkey.

[2015-09-09 18:54] RnMss commented on #566
I updated to newest ghc-mod, the unknown command warning is gone, but it still freezes.

Spacemacs version: 0.103.6

[2015-09-10 01:06] 0rzech commented on #566
@RnMss Did you update ghc-mod the elisp plugin, or ghc-mod the Haskell executable? For me, updating the latter was the solution, as per my previous [comment](https://github.com/kazu-yamamoto/ghc-mod/issues/566#issuecomment-135629593).

[2015-09-10 07:11] konn commented on #561
Is there any update on this?

[2015-09-10 07:40] kazu-yamamoto commented on #561
It seems to me that this problem is specific to @dbushenko and you. I think there is nothing what I can do for you. I would be nice if you discuss this with @dbushenko.

[2015-09-10 09:35] konn commented on #561
Finally, I made out precisely in what situation this bug occurs in general with minimal setting.

Here is what I actually faced:
If I open `.hs` files via _symbolic link_, `ghc.el` cannot highlight the correct line.

For example, suppose that `~/haskell` is symlink to `~/Documents/Programs/Haskell`.
Then,
- If I open `~/Documents/Programs/Haskell/Main.hs` directly, things works fine.
- But if I op

[2015-09-11 00:28] kazu-yamamoto commented on #575
Now Daniel and I can reproduce this. Daniel is working on this.

[2015-09-11 01:56] DanielG opened #591 "elisp: Error buffer pops up in active frame instead of re-using existing buffer"
If I interrup the long running `ghc-mod boot` on master (doesn't have the async patch yet) and switch to another frame `*GHC Error*` pops up there too as output is generated. We really should just reuse the existing buffer. I'll see if this is still a problem with the async stuff later.

[2015-09-11 02:00] DanielG commented on #565
@kazu-yamamoto This is still happening I'm pretty positive it has something to do with the frontend since I can't reproduce this with legacy-interactive on the commandline either.

[2015-09-11 03:05] kazu-yamamoto commented on #588
Partially done in the `fast-boot` branch. I should implement importing symbols and checking syntax just after booting is finished.

[2015-09-11 03:05] bixuanzju commented on #575
@DanielG awesome! The HEAD fixed my problem, finally I can embrace `ghc-mod` with `stack`!

[2015-09-11 04:43] kazu-yamamoto commented on #565
I cannot reproduce this even from Emacs frontend so far.

[2015-09-11 04:54] DanielG commented on #590
`ts "%.s"` adds timestamps to stuff

[2015-09-11 05:11] DanielG commented on #590
[code]

[2015-09-11 07:07] DanielG commented on #590
Huh, looks like the problem is in GHC after all, I'm not getting any stable BCOs and it's just recompiling everything.. probably something to do with us changing the dynflags before calling load or something.

[2015-09-11 07:51] DanielG commented on #590
HAHA! The fix turned out to be downright trivial. I forgot to update `world` in legacyInteractiveLoop if it changed and there's a race condition with the thread that updates the symboldb: the first call to getCurrentWorld will return the symboldb as Nothing (since it's being created) but later calls will return Just so the frontend keep dropping the session hence ghc reloading everything.

[2015-09-11 07:54] DanielG commented on #590
@kazu-yamamoto `check` should be reasonably fast again now.

[2015-09-11 21:22] rkarp opened #593 "findExecutablesInStackBinPath doesn't work on Windows"
I was getting this error when calling for example `ghc-mod browse -d Prelude`:

[code]

So I did a little bisecting and verified that 2a0414f368ee62dfb0f32ce0fb6527f5d5e5c770 introduced the issue. Looks like the original error is in [findExecutablesInStackBinPath](https://github.com/kazu-yamamoto/ghc-mod/commit/2a0414f368ee62dfb0f32ce0fb6527f5d5e5c770#diff-2b460056ea1f03da424528e5c09aa5c2R91), whi

[2015-09-11 22:53] rkarp commented on #593
OK, the problem is that `stack path --bin-path` returns a string of paths separated by ':' chars. But on Windows this doesn't work because it would split (legal) paths again, for example: 'C:\Windows'.

The 'path' variable on Windows actually uses ';', and splitSearchPath expects this, too, so that also won't work.

[2015-09-11 23:59] rkarp commented on #593
I've made a fix, see the PR.

[2015-09-12 06:08] DanielG commented on #593
You need stack 0.1.4.0 I fixed this upstream: https://github.com/commercialhaskell/stack/commit/aac1b86aa62c79fdd9ca55e76b3f5f789c6d4215

[2015-09-12 06:08] #593 closed, assigned to nobody

[2015-09-12 06:09] DanielG commented on #593
Oh and also stack's bin-path is different from the global PATH so this wouldn't even have worked.

[2015-09-12 06:14] DanielG commented on #593
Sorry to be so short with you, but it's the weekend :P

Thanks for the report anyways windos doesn't get very much testing around here.

[2015-09-12 11:03] rkarp commented on #593
I've tried it with the new Stack version and it works. The commandline doc in Stack is wrong, though, so that put me on the wrong track:

[code]

[2015-09-12 11:09] DanielG commented on #593
`stack exec sh -c 'echo $PATH'` would probably be equal to bin-path ;)

[2015-09-13 07:45] konn commented on #561
Sorry, above comment also misdescribes the genuine cause. Finally I found that the use of `string=` on `ofile` and `file` causes my problem; it is too case-sensitive in case-insensitive filesystems. I'll send a pull-req shortly.

[2015-09-13 14:30] ashutoshrishi opened #596 "Getting hGetContents: invalid argument (invalid byte sequence)"
Even on ghc version 5.3 and ghc-mod 5.3 even with GHC 7.10 and cabal version 1.22.

ghc-debug:
Version: all GHC versions must be the same.
      ghc.el version 5.3.0.0
     ghc-mod version 5.3.0.0 compiled by GHC 7.10.2
    The Glorious Glasgow Haskell Compilation System, version 7.10.2

I installed ghc from melpa-stable  and ghc-mod through cabal 1.22.

This is on OSX, emacs 24.5.

[2015-09-13 23:34] #561 closed, assigned to kazu-yamamoto

[2015-09-14 01:23] DanielG commented on #596
Try deleting `dist/`, that sometimes fixes the problem. If not upload `dist/setup-config` somewhere for me to look at (it's a binary file unfortunately), `$PATH` might be worth looking at too and `ghc --version` and `cabal --version` would also be nice, just to be sure.

[2015-09-14 04:54] kazu-yamamoto commented on #575
This has been fixed on master.

[2015-09-14 04:54] #575 closed, assigned to kazu-yamamoto

[2015-09-14 04:55] kazu-yamamoto commented on #583
I believe that this issue is fixed on master. Please reopen if not.

[2015-09-14 04:55] #583 closed, assigned to kazu-yamamoto

[2015-09-14 04:55] DanielG commented on #565
I can't reproduce this anymore either :/

[2015-09-14 05:15] ashutoshrishi commented on #596
I deleted dist/ and tried again, but I am still getting the same message. This is the `setup-config` -
https://www.dropbox.com/s/xcgw3xo95p9i3os/setup-config?dl=0

PATH:
`PATH=/Users/rishi/.cabal/bin:/Applications/SWI-Prolog.app/Contents/MacOS:/opt/X11/bin:/usr/local/MacGPG2/bin:/usr/texbin::/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin`

ghc --version: `The Glorious Glasgow Haskell Compilation Sys

[2015-09-14 05:18] DanielG commented on #596
Alright is there any more to that error message that you're not showing me? Also could you tell me which command specifically is producing that.

[2015-09-14 05:20] DanielG commented on #596
The output of `env` might also be useful in case it's a locale issue.

`ghc-mod -v7 check <some-haskell-file>` would also be useful so I can see where approximately this is happening (if this even happens with the check command).

[2015-09-14 05:27] ashutoshrishi commented on #596
Ouput of env:

[code]

The full error line:
`/Users/rishi/projects/research/wybe/wybemk.hs: hGetContents: invalid argument (invalid byte sequence)`

Checking that file wybemk.hs (it is the module Main) with `ghc-mod -v7 check wybemk.hs`:

[code]

[2015-09-14 05:31] DanielG commented on #596
Does that file contain any non-ascii characters? (/Users/rishi/projects/research/wybe/wybemk.hs I mean)

[2015-09-14 05:44] ashutoshrishi commented on #596
Hmm, wow. Removed the `©` character from the module level comment and it stopped complaining about that file, now it is complaining for the next, but since all the files have that comment. And there are many files. If I replace that symbol with the ascii version I copied from the internet it does not complain. But there are many files and that is just a comment. Any quicker way?

[2015-09-14 05:48] ashutoshrishi commented on #596
Actually no, removing the symbol stops the complaining. My LANG is `en_AU.UTF-8`. I can't just remove that symbol since most of the files is not from me and I rather not edit them.

[2015-09-14 06:02] DanielG commented on #596
You could use `sed -i 's/©/(C)/' **/*.hs` or something like that, but that's just a workaround. Are you sure those files are proper UTF-8? They could be UTF-16 encoded or something weird like that.

[2015-09-14 06:20] ashutoshrishi commented on #596
No that was just the environment variable setting. Emacs opens the files as:

`1 -- iso-latin-1-unix (alias: iso-8859-1-unix latin-1-unix)`

[2015-09-14 06:22] ashutoshrishi commented on #596
Stupid question, do I need `hlint`? I just wanted `company-ghc` to work, I don't really want all this now. I don't remember when and where `hlint` was installed.

[2015-09-14 06:33] DanielG commented on #596
So long as you don't try to use the lint command you can just ignore that dependency.

[2015-09-14 06:44] ashutoshrishi commented on #596
Who is calling hGetsContent? So the encoding of the source files is different from my locale. It's not `ghc-mod` who is calling hGetsContent?

[2015-09-14 06:45] DanielG commented on #596
Everyone and their mother calls `hGetsContent` essentially anything that uses `readFile` or something similar from `System.IO`. I think it might just be ghc-mod.

[2015-09-14 07:27] ashutoshrishi commented on #596
So this was an encoding mismatch issue on my part. I replaced all copyright symbols with (c) for now. Thanks a lot!

[2015-09-14 07:27] #596 closed, assigned to nobody

[2015-09-14 09:25] alanz opened #598 "Get "wrong directory" warning, initialization hangs"
Using https://github.com/kazu-yamamoto/ghc-mod/commit/0aa3655e08508efeec71dd9d7594cbb3729f7a0d and current ghc elisp installed via MELPA/ELPA

Steps to reproduce
1. Start up emacs in the ghc-mod directory
2. open the ghc-mod/src directory in emacs
3. select the file `GHCMod.hs` and press enter to open it

A warning/error pops up saying

[code]

and the editor hangs, consuming 100% CPU in emacs onl

[2015-09-14 17:54] markschultz commented on #598
Also using 0aa3655 with spacemacs. same steps. stack is not installed. I get the directory error twice and no hanging/"initializing" issue.

[2015-09-14 20:40] PierreR commented on #598
Same problem for me after updating to the latest 0aa3655e08508efeec71dd9d7594cbb3729f7a0d.

This was working fine a couple of days ago.

[2015-09-14 20:43] markschultz commented on #598
I can confirm it was working at 6488f1070d531a15e0b71c5e1e4d44d092b5858d.

[2015-09-14 20:49] PierreR commented on #565
I am closing this. I am still facing a handful of issues but this problem has disappeared ;-)

[2015-09-14 20:49] #565 closed, assigned to kazu-yamamoto

[2015-09-14 20:51] ajnsit commented on #598
It stopped working for me as well at 56902bfe2d5ef7910577d54c9269d758fe770e3e, for now I have pinned ghc-mod version to 6488f1070d531a15e0b71c5e1e4d44d092b5858d.

[2015-09-15 02:48] #580 closed, assigned to nobody

[2015-09-15 03:32] DanielG commented on #598
Should be fixed now.

[2015-09-15 03:36] DanielG opened #599 "ghc-mod doc still being invoked from wrong working directory"
should be easy to fix:

`*GHC Debug*`:

[code]

[2015-09-15 03:48] DanielG opened #600 "Line prefixes seriously messed up with `split`"
[code]

[2015-09-15 03:54] DanielG opened #601 "Line prefixes seriously messed up when warnings are being generated during `type` or `split`"
[code]

[2015-09-15 07:01] alanz commented on #598
I can confirm that this works for me. And I get my warnings/errors in the
gutter again

On Tue, Sep 15, 2015 at 5:32 AM, Daniel Gröber notifications@github.com
wrote:

[2015-09-15 07:13] alanz commented on #598
Oops, spoke too soon. Just switched to kazu/master and there is still a
problem.

The wrong directory warning is gone, but the hang on initiialize with zero
CPU is still there, can be interrupted by C-g

On Tue, Sep 15, 2015 at 9:01 AM, Alan & Kim Zimmerman alan.zimm@gmail.com
wrote:

[2015-09-15 07:23] kazu-yamamoto commented on #598
`boot` of `ghc-mod legacy-interactive` does not display "OK" sometime. That's why.

[2015-09-15 07:51] kazu-yamamoto commented on #599
Fixed.

[2015-09-15 07:51] #599 closed, assigned to kazu-yamamoto

[2015-09-15 07:53] kazu-yamamoto commented on #598
- When symbol db is preparing, "OK" is displayed before the boot result.
- Otherwise, "OK" is displayed after the boot result correctly.

[2015-09-15 09:03] AaronFriel opened #602 "Changes to ghc-mod master branch break API in many, many places."
I'm not sure if this was what was expected or desired, but tools dependent on ghc-mod will not build on the current master branch for a number of reasons. For example: `Language.Haskell.GhcMod.Types` had many record fields renamed, and the monad code has changed types, from:

[code]

To:

[code]

If this is all intended, carry on. I just pulled from master and found my tools no longer building.

[2015-09-15 10:39] DanielG commented on #602
Yeah, we're getting ready for some major API redesign/refactoring because we're planning to pull apart ghc-mod into multiple packages so that's pretty much expected ;)

Which particular tool that is failing to build? If people actually told me their're using ghc-mod I could give them a heads up for this type of thing.

[2015-09-15 14:11] karls opened #603 "ghc-mod fails with error "ghc-mod: getStackEnv""
Compiling from HEAD (aad7cde) and using ghc-mod in Emacs fails with an error that says "ghc-mod: getStackEnv".

It seems to be due to some fields (`extra-include-dirs` and `extra-library-dirs`) being empty when pulling in information via `stack path`.

Here's the output of `stack path` on my computer:

[code]

Relevant line for failure seems to be https://github.com/kazu-yamamoto/ghc-mod/blob/aad7

[2015-09-16 03:15] DanielG commented on #600
Fixed https://github.com/kazu-yamamoto/ghc-mod/commit/7e565df92386c1524ed834adf0012a1b0301dd74

[2015-09-16 03:15] #600 closed, assigned to nobody

[2015-09-16 03:18] DanielG commented on #601
Fixed https://github.com/kazu-yamamoto/ghc-mod/commit/380acdaee0137619fb9be42af0ebb9b23dc296de

[2015-09-16 03:18] #601 closed, assigned to nobody

[2015-09-16 03:20] #603 closed, assigned to nobody

[2015-09-16 03:20] DanielG commented on #603
Can you try that patch?

[2015-09-16 03:24] DanielG opened #604 "`doc` doesn't seem to work with stack"
Someone should look into this, relevant code is here: https://github.com/kazu-yamamoto/ghc-mod/blob/8fea4ac426331cc919a83a4c216c682e50454b41/Language/Haskell/GhcMod/PkgDoc.hs#L13

[code]

Should look like this:

[code]

[2015-09-16 03:51] DanielG commented on #598
Should be fixed now.

[2015-09-16 03:51] #598 closed, assigned to kazu-yamamoto

[2015-09-16 07:23] vu3rdd commented on #583
I just tried the new release (5.4.0.0) and it gives another error while opening a .hs file:

[code]

where <root> is the directory of my project root path and <dir> is the module directory. I will take a detailed look later when I get time.

[2015-09-16 07:25] DanielG commented on #583
@vu3rdd  `C-h v ghc-version RET` will tell you which elisp version you're using, if it's not 5.4.0.0 please upgrade it too.

[2015-09-16 08:18] vu3rdd commented on #583
@DanielG thanks, that fixed it.

[2015-09-16 09:10] karls commented on #603
Works beautifully :+1:

[2015-09-16 11:19] mineo opened #605 "Can't satisfy dependencies in projects created by stack"
Here's what I did:

GHC in /usr/bin is 7.10.1, I've previously built 7.10.2 for stacks `lts-3.5` resolver with `stack setup`. I think stack itself is using the latter version of GHC to build things.

/Edit: Sorry, forgot the output of `ghc-mod debug`:

and `ghc-mod --version`:

[2015-09-16 11:29] DanielG commented on #605
You need to recompile ghc-mod against GHC 7.10.2.

[2015-09-16 11:30] mineo opened #606 "Passing "-v for more information" to ghc-mod boot doesn't provide more information"
In #605 ghc-mod is telling me to `(use -v for more information)` but neither `ghc-mod boot -v` nor `ghc-mod -v boot` change the output. After reading `ghc-mod --help` I tried

which is not helpful.

[2015-09-16 11:38] DanielG commented on #606
That's GHC telling you that so you need to use -g to pass it down to GHC and maybe -v6 to get ghc-mod to even print GHC's log messages.

[2015-09-16 12:13] mineo commented on #606
That's not obvious at all from the output:

[code]

To me the first line looks like a message from ghc-mod and the indentation of the second line suggests it's a continuation of the first line.

[2015-09-16 13:01] k-bx opened #607 ""Cannot satisfy -package-id" after editing dependency"
Just installed latest ghc-mod to try it out with stack. My project looks like this:

[code]

`stack.yaml` looks something like this:

[code]

In cabal files `proj-main` depends on both `proj-shared` and `somelib`, `proj-shared` depends on `somelib`.

So, I was working on `proj-main` sources, then I needed to add something to `somelib`. I edited `somelib`, but now, when I edit that file in `proj-ma

[2015-09-16 13:08] DanielG commented on #607
Same thing as here probably: https://github.com/kazu-yamamoto/ghc-mod/issues/605

[2015-09-16 13:08] DanielG commented on #606
indeed, but we can't really catch all possible ghc error messages and fixup references to options so suggest something sensible and we can consider it ;)

[2015-09-16 13:12] ghost commented on #598
Should this work in 5.4.0.0 from hackage? I'm seeing this on Sapcemacs with Stack.

[code]

[2015-09-16 13:14] k-bx commented on #607
@DanielG I'm not sure I see how. I'm on 7.8.4 for work-project and used it to install ghc-mod also. Should that be ok?

Another weird thing is that it worked fine initially, until I updated that dependant library.

[2015-09-16 13:16] DanielG commented on #598
That was a bit of a stupid breaking change in retrospect, I'll probably release another version tomorrow that removes that restriction. But for now if you're using Emacs make sure you have the latest version of the elisp code, otherwise you're stuck for now. Sorry :(

[2015-09-16 13:17] DanielG commented on #607
I'll properly think about this tomorrow I'm at home now :P

[2015-09-16 13:17] k-bx commented on #607
@DanielG sure, thank you :)

[2015-09-16 13:27] ghost commented on #598
I see. Thanks.

[2015-09-16 13:44] k-bx commented on #607
Just in case: "stack clean" helped. Of course, I needed to rebuild all my non-stackage-snapshot dependencies on next build, but at least this is something.

UPDATE: broken again on dependency-edit. So it's reproducing, I think.

[2015-09-16 13:58] ajnsit commented on #598
@usharf @DanielG Not really stuck, as you can simply build ghc-mod at the last working version 6488f1070d531a15e0b71c5e1e4d44d092b5858d instead of HEAD

[2015-09-16 14:01] k-bx commented on #607
One more thing: doing:

[code]

Helped without a need to re-install dependencies, since they're in `proj/.stack-work`. Maybe only removing `proj/somelib/.stack-work` would help, not sure.

[2015-09-16 14:10] ghost commented on #598
@ajnsit :+1:

[2015-09-16 16:26] mineo commented on #606
I have no idea how ghc-mod works internally but if you're calling ghc as an external process, why not add something like "the following messages are from GHC" in front of every call/captured stderr?

[2015-09-16 17:11] DanielG commented on #606
We're not calling ghc as a process so it's not that easy :p

[2015-09-17 01:42] DanielG commented on #606
An easy solution might be to tie ghc-mod's -v option to ghc's so if you do -v at the top level we'll pass that down to ghc. Only problem with that is mapping the loglevels since ghc-mod has more than ghc does so we can't just do a 1-1 mapping and everything else would be even more confusing.

[2015-09-17 02:09] #602 closed, assigned to nobody

[2015-09-17 02:18] DanielG commented on #607
Can you try removing `.stack-work/dist/*/Cabal-*/setu-config.ghc-mod.*` those are our persistent caches that might be getting in the way again and not being invalidated properly. If that doesn't help then this sounds like a problem in stack because ghc-mod just uses whatever package versions it finds in Cabal's setup-config state file.

[2015-09-17 02:23] DanielG opened #609 "Error: module Main defined in multiple files"
Probably has something to do with map-file.

[code]

[2015-09-17 02:26] DanielG commented on #609
I think this might happen when I have at least two buffers open, both declaring `module Main` and both are being mapped down to the library component because they are not part of any of the module closures.

[2015-09-17 04:15] DanielG commented on #590
[code]

[2015-09-17 04:39] DanielG opened #610 "resolvePackageConfig is exported in ghc >= 7.10"

[2015-09-17 17:19] snoyberg opened #611 "Test suite failure from Stackage build"
[code]

[2015-09-18 00:11] wolftune opened #612 "ghc-mod and stack install vs stack exec and different GHC versions"
I realized some concerns about stack and ghc-mod…

Since ghc-mod needs to be built against the same GHC as the project (as I understand it), and Stack can use multiple GHC versions, doesn't that mean that we _have_ to stick to installing ghc-mod in the local .stack-work and running stack exec to make sure the ghc-mod being used fits with the project. I mean, I know that if I am conscious of using

[2015-09-18 01:11] kazu-yamamoto opened #613 "ghc-mod root fails"
ghc-mod root may fails:

[code]

In this situation, Emacs frontend fails into infinite loop.

[2015-09-18 01:45] DanielG commented on #613
Why does it go into an infinite loop? That call is synchronous and the process exists with a nonzero exit code so it should just error out of ghc-init, at least that's what I'd expect it to do in that case.

[2015-09-18 02:13] wolftune commented on #612
I have an idea! I mentioned it in a ticket for the atom package: https://github.com/atom-haskell/haskell-ghc-mod/issues/54

`stack build ghc-mod` then `stack exec which ghc-mod` can get the full path of the right ghc-mod per project. `stack exec ghc-mod` will then work from CLI and each ghc-mod based editor plugin will need to just have some mechanism to get a particular path per project.

[2015-09-18 02:13] #612 closed, assigned to nobody

[2015-09-18 02:25] wolftune commented on #612
Opened this too: https://github.com/atom-haskell/haskell-ghc-mod/issues/54

[2015-09-18 02:55] DanielG commented on #611
Can you link me to or post the rest of the log output? Or alternatively how do I reproduce stackage's build environment?

[2015-09-18 03:05] snoyberg commented on #611
Sorry, that log file is no longer present. Reproducing the Stackage build environment is pretty tricky. Perhaps the relevant bit for those error message is that it passes in a --libexecdir flag.

[2015-09-18 03:07] DanielG commented on #611
Why do you think it has to do with `--libexecdir`?

[2015-09-18 03:08] snoyberg commented on #611
Maybe a bad guess based on the error message coming from readCreateProcess.

[2015-09-18 03:11] DanielG commented on #611
cabal-helper-wrapper failing could have a number of reasons. If the executable wasn't there then the error code would be something like 127 (at least on linux IIRC) so I don't think it's that. All the other failure modes would print stuff on stderr which gets interleaved with the hspec output above the summary you copied out so I really do need the rest of the log to be able to say what's going on

[2015-09-18 03:26] snoyberg commented on #611
Sorry, I can't provide that log right now. It's your call if you want to close this issue or leave it open.

[2015-09-18 03:30] DanielG commented on #611
Can you catch it on the next stackage build or something?

[2015-09-18 03:31] snoyberg commented on #611
I'll try to, yes. It may take another few days, since Adam's on curator
duty till next week

On Fri, Sep 18, 2015, 6:30 AM Daniel Gröber notifications@github.com
wrote:

[2015-09-18 03:36] DanielG commented on #611
Ok great, thanks.

[2015-09-18 05:07] DanielG commented on #609
@kazu-yamamoto could you please implement unmapping files in the elisp frontend? I think the problem here is that we only ever map-file but never remove the mapping. I think we should be doing something like:

[code]

[2015-09-18 06:28] DanielG opened #615 "Implement worker/wrapper split, support multiple GHC versions"
We've had this limitation for quite a while and people seemed not to be too
bothered by it, but with the appearance of Stack this quickly escalated because
now people can switch between different GHC versions without even knowing, since
Stack handles this for them.

The problem right now is that ghc-mod links against `ghc` (the library) and this
needs to be the same version as `ghc` (the executabl

[2015-09-18 06:30] DanielG commented on #615
cc @wolftune

[2015-09-18 08:07] DanielG opened #616 "Upload docs"
Steal that: https://github.com/mpickering/ghc-exactprint/commit/684ac4eae2bbd76a2830aad203ee0e2adc230041

[2015-09-18 15:59] Javran opened #617 "failed to compile ghc-mod with stack"
stack version: 0.1.4.1

Log file: https://gist.github.com/Javran/16273a7ce9be2e77c99b
Installed packages: https://gist.github.com/Javran/15468408299d3f1571ab

[2015-09-18 16:17] parsonsmatt commented on #590
I'm getting some pretty big slowdown in my larger projects. `ghc-mod type` runs pretty fast on a file with 0 dependencies. No time stamps, but it's comparable with hdevtools. In another project (code itself isn't much, but has lens/pipes/persistent dependencies), it takes about 2 seconds to do `ghc-mod type` where hdevtools is still as fast as it was on the other. Is there some way I can get more

[2015-09-18 16:23] robstewart57 opened #618 "How to disable the *GHC Error* buffer from appearing?"
Apologies, this is a user question and not a bug report. If ghc-mod struggles whilst I'm working on Haskell source code, I get disrupted by the _GHC Error_ buffer. E.g.

[code]

If ghc-mod is unable to help me because of this GHC error, that's fine. But to be interrupted every time I save the file, by the _GHC Error_ buffer appearing, is distracting. Is there a way to disable ghc-mod from writing

[2015-09-18 20:16] mineo commented on #606
Hm, so you're not calling ghc as a process but it's still printing messages about command line flags? That doesn't sound like sensible behaviour.

[2015-09-19 08:14] alanz opened #620 "Philosopy question: should ghc-mod trigger a stack configure/build?"
If I check out a project that uses stack and want to examine the source files, the process of opening a file triggers stack to fetch and build all the dependencies.

This is not always what I want. Should there be a way to manage this? I would prefer a pop-up asking if I want to proceed, and warning that limited behaviour is available otherwise.

For normal cabal projects a configure it relatively

[2015-09-19 08:57] alanz opened #621 "ghc-mod cpp fails if configure but not build is done externally"
If I clone the ghc-mod repo, then

[code]

load emacs, load a file

the autogen files are not generated by the private configure or by ghc-mod, so ghc-mod error buffer complains of the 'C pre-processor' phase failing

[2015-09-19 09:09] alanz commented on #621
A related question: If the current thinking is that ghc-mod should handle the configure, how should a project that has specific configuration flags that need to be set be configured?

e.g. the backend selection for `Yi`

[2015-09-19 10:47] k-bx commented on #607
@DanielG just checked – yes it helps removing them. I'd be happy to provide more details. I reproduced bug on a fresh set of projects, so it's also reproducible.

[2015-09-19 12:19] DanielG commented on #607
My guess is it has to do with this being a superproject since we didn't actually test that I think. I don't have time to debug this myself but if you want to go digging I can give you some pointers.

Basically you need to find out 1) if `stack build --only-configure` is being executed as it should be and if it is 2) why that's not changing the setup-config file or alternatively 3) why ghc-mod does

[2015-09-19 12:49] k-bx commented on #607
@DanielG even manually making sure stack has up-to-date `setup-config` (removed it and ran `stack build` to make sure) didn't help. Still getting:

[code]

Grepping shows only file that has this package id is `./proj1/.stack-work/dist/x86_64-osx/Cabal-1.18.1.5/setup-config.ghc-mod.resolved-components`, which makes me think only the last case is happening (ghc-mod doesn't invalidate its own caches

[2015-09-21 06:57] DanielG commented on #618
@kazu-yamamoto told you we'd need a customize setting to disable it :P

[2015-09-21 06:58] DanielG commented on #618
@robstewart57 you really shouldn't compile ghc-mod with a profiled compiler that breaks anything that uses TH. Frankly I have no idea how you even got ghc-mod to build with a ghc that's profiled since we use TH.

[2015-09-22 13:28] carymrobbins opened #623 "Could not find module"
When attempting to use `ghc-mod` on a stack project consisting of cabal projects in its subdirectories, I get errors like this -

`ghc-mod check lib/Foo/API.hs`

[code]

`ghc-mod debug`

[code]

`ghc-mod debug-component`

[code]

[2015-09-23 04:31] DanielG commented on #623
Looks like something is going wrong with the project type detection. You should be getting a bunch more output with `ghc-mod debug`. Are you using that `ghc-mod.package-db-stack` thing in that project by any chance?

[2015-09-23 04:34] DanielG commented on #621
I think we should be able to extract the current set of configuration flags from setup-config/LocalBuildInfo and just reconfigure using those flags when we need to. I suppose we could also add some sort of override file, `ghc-mod.cabal-flags` or something like that. So you can override that when it doesn't work.

[2015-09-23 04:38] DanielG commented on #623
To be honest I haven't really tested stack superprojects all that much so if you have a public project that you can reproduce that with that you can send me a link to that'd be great.

[2015-09-23 04:43] DanielG commented on #617
So all you did was `stack install ghc-mod` outside of any project, right?

[2015-09-23 05:06] DanielG commented on #617
`stack install ghc-mod --resolver=nightly` works just fine for me so you'll have to be more specific about what you're doing.

[2015-09-23 06:46] carymrobbins commented on #623
I had this issue, so I attempted to decipher what the `ghc-mod.package-db-stack` syntax was all about, but honestly I don't understand what's in the readme.  I had experimented with some entries in that file, but it didn't seem to do anything, so I removed the file.

Unfortunately this isn't a public project, so I won't be able to share this code.  However, I seem to get the exact same behavior wh

[2015-09-23 07:29] jyp opened #624 "ghc-mod does not seem to honor preprocessor phases"
I am using a preprocessor, run via ghc using the line:

[code]

However the preprocessor option seem to be garbled. I get the error:

[code]

[2015-09-23 07:29] DanielG commented on #623
Awesome, I can reproduce it with that.

[2015-09-23 07:30] DanielG commented on #623
Ah right, you need to run `ghc-mod debug` in one of the sub-projects otherwise it doesn't know which one you want, same for `ghc-mod check`.

[2015-09-23 07:33] DanielG commented on #623
And would you look at that it works if you do that ;)

I know that's kind of an awkward thing to require but you need to run ghc-mod subcommands (other than `root`) in whatever directory `root` returns for a given directory.

The way frontends are supposed to handle that is to: 1) set `ghc-mod root`'s cwd to the directory containing whatever file you're looking at and 2) run any of the other sub-c

[2015-09-23 07:36] DanielG commented on #624
Hmmm it shouldn't touch that at all, we hand off the preprocessing to GHC. `ghc-mod -v7 -g-v5 check <some file>` might give some clue as to what's happening.

[2015-09-23 07:41] DanielG commented on #624
Works just fine for me. I did have to remove that lonely `-` in your pragma though so maybe that's it.

Main.hs:

[code]

/tmp/preproc.sh (just copied out of the ghc manual):

[code]

[2015-09-23 08:07] jyp commented on #624
Ok, thanks a lot. I was using a preprocessor that outputted debug info on stdout. This is normally fine, but ghc-mod picked that as errors.

[2015-09-23 08:07] #624 closed, assigned to nobody

[2015-09-23 08:24] DanielG commented on #621
Okay I'm going to implement this now. I'm going to ignore the "manual" toggle and just pass down all flags that have a value other than the default in setup-config. I think that should be sane behavior. Also as far as ghc-mod reconfiguring-stuff-breaking-things goes a good rule of thumb is to compare it to what `cabal build` would do when you change the cabal file after configuring (with a new eno

[2015-09-23 08:30] carymrobbins commented on #623
Alright, thanks to an epic conversation on IRC with @DanielG we've discovered that this problem was two-fold -
1. I needed to execute `ghc-mod` from the sub-project directory, which can be obtained by running `ghc-mod root` from the directory of the source file.
2. I needed to remove any old `dist/` directories.  These were left over from this project being built with cabal and were confusing ghc-

[2015-09-23 09:14] robstewart57 commented on #618
@DanielG Thanks for the response. It appears that at the moment (and I am using GHC HEAD as of today), the _GHC Errors_ buffer appears for more than just TH errors, e.g. the contents of the following gist.github has just appeared in a separate _GHC Errors_ buffer: https://gist.github.com/robstewart57/6d1900f2b8b8fab2813d .

[2015-09-23 10:05] DanielG commented on #590
@parsonsmatt Please open a separate issue about that problem.

[2015-09-23 10:11] DanielG commented on #621
Should be fixed now.

I also implemented all the cabal-helper related stuff needed to get flags out of an existing setup-config, I just can't be bothered to implement and test this in ghc-mod right now though.

@alanz if you want this it should be a fairly quick patch now. I just don't have the mental capacity right now to think about what to do when there isn't a setup-config yet or if it fails t

[2015-09-23 10:13] alanz commented on #621
Ok, thanks. Will take a look once my HaRe push is complete

[2015-09-23 10:21] DanielG commented on #618
The name is a bit misleading maybe, the buffer contains all the stderr output from ghc-mod so you'll get quite a bunch of different things in there. Only if something odd is happening though.

That error sounds like the version of Cabal you're using can't be built using the version of GHC you have. I suggest rebuilding cabal-install against a later version of Cabal (the library).

[2015-09-23 15:50] Javran commented on #617
@DanielG yes that's all I did, I also tried `--resolver=nightly` but that results in the same error.
Please let me know what other info would be helpful for troubleshotting.

[2015-09-24 01:09] DanielG commented on #617
Well that's just the problem, I have no idea how you'd even get into this situation. From the sound of it it's the old problem with ghc having a MonadIO class distinct from the one in `base` but that was only the case up to 7.8 or so. According to the package-db paste you have 7.10, so I don't know what the hell.

[2015-09-24 01:12] DanielG commented on #617
Ah, hang on.

[code]

and it looks like it's using transformers-0.4.2.0 and transformers-0.4.3.0. WTF? Isn't stack meant to prevent exactly this from happening -.-

[2015-09-24 03:00] DanielG commented on #620
If we want to turn this off it's literally a one line change, just remove this line: https://github.com/kazu-yamamoto/ghc-mod/blob/master/Language/Haskell/GhcMod/CabalHelper.hs#L229

I guess turning it off by default and adding a cmdline flag to turn it back on would be a way to do this. Users that want it could put something into .dir-locals or whatever the editor equivalent is.

[2015-09-24 03:26] DanielG commented on #621
Alright I implemented flag preservation too. Turned out to be easier than I thought ;)

[2015-09-24 03:27] #621 closed, assigned to nobody

[2015-09-24 06:58] DanielG opened #625 "Integrate dead-code-detection (whole project usage analysis)"
https://github.com/soenkehahn/dead-code-detection

[2015-09-25 06:19] DanielG commented on #625
Okay so GHC doesn't do cross module usage analysis apparently. So say you have some modules:

[code]

[code]

then ghc will not complain about `baz` but dead-code-detection will.

I'm not sure how/if this would work with libraries but I think give than we have knowledge of all components in Cabal package we could extend this thing to do cross component usage analysis too!

I.e. if a library define

[2015-09-25 06:45] alanz commented on #625
I think the person initiating dead-code checks will have to somehow define the unit of compilation to be checked. Or maybe even a set of things being compiled.

[2015-09-25 06:55] DanielG commented on #625
Agreed

[2015-09-26 16:28] Pitometsu opened #626 "must run ghc-mod in the project directory as returned by `ghc-mod root`"
When use in Emacs (project use stack):

[code]

Installed fresh from github:

[code]

[2015-09-26 16:31] Pitometsu commented on #626
Project paths:

[code]

[2015-09-26 16:49] Pitometsu commented on #626
After re-installing e-lisp:

[code]

[2015-09-26 16:52] Pitometsu commented on #626
Sorry, fixed by updating elisp and using nixos package versions.

[2015-09-26 16:52] #626 closed, assigned to nobody

[2015-09-28 09:50] alanz opened #627 "Timing issues"
Using https://github.com/alanz/ghc-mod/tree/timing and opening src/GHCMod.hs I see that most of the time is spent in "map-file", which is called before every single import is processed.

See http://lpaste.net/3413394858717478912 for the full log.

[code]

The time taken to process a command is the difference between the "got cmd" log line and the next "top" line.

So the first "map-file" command t

[2015-09-28 09:57] DanielG commented on #627
Yeah we really should only map-file when the file is modified @kazu-yamamoto . See also: https://github.com/kazu-yamamoto/ghc-mod/issues/609#issuecomment-141346374

[2015-09-28 12:49] alanz commented on #627
Further tests show the following

[code]

It is taking nearly 11 seconds to map a large file.

I think one of the problems is

[code]

which is building up the source by appending to the end of a string.

[2015-09-28 12:58] DanielG commented on #627
Hmm I didn't realize it was _that_ bad. I guess we should just convert that to bytestring. Possibly using a fairly long random termination sequence instead of just a single character would also be a good idea since substring matching gets faster the longer the needle is IIRC. I'm thinking add another parameter to map-file which is the termination substring that we'll look for (ala http chunked enc

[2015-09-28 13:13] alanz commented on #627
I don't think termination detection is the problem, the important thing is
to use an append-friendly data structure to accumulate in.

On Mon, Sep 28, 2015 at 2:58 PM, Daniel Gröber notifications@github.com
wrote:

[2015-09-28 13:35] alanz commented on #627
Also, changing the elisp

[code]

to

[code]

would allow the haskell EOT detection to check a line at a time. So rather than

[code]

something like

[code]

This saves scanning to the end of every line to check for EOT

[2015-09-28 13:51] alanz commented on #627
See https://github.com/alanz/ghc-mod/commit/e325b5db30b0381c7c9ab1ef8acf9e5a2b5dd61d for an improvement of the above TypeUtilsSpec.hs to

[code]

It now takes around 0.15s. This could be improved further with the simplified EOT check, but it needs a matching elisp change.

[2015-09-28 14:08] alanz commented on #627
A thought on map-file

It seems to be that the end result is a temporary file with the contents of the relevant (possibly unsaved) buffer.

I am sure there must be a function in elisp to do this, using the underlying libc (or whatever) file handling to do the job. Perhaps the map-file function should simply be passed the name of this temporary file, rather than the entire source?

[2015-09-28 14:13] alanz commented on #627
Perhaps configure ghc-mod as a syntax-checker-executable for haskell?

http://www.flycheck.org/manual/latest/Configuring-checkers.html#Configuring-checkers

[2015-09-28 16:53] lierdakil commented on #627
Okay, so changing termination marker to \n\EOT\n is fine with me. Random
byte sequence is worse as long as we're reading stdin as UTF8 stream. Then
a valid Haskell source can't contain this sequence under any circumstances.

Using append-friendly container should be fine, but I reckon it could be
easier to just prepend, reverse and join. Should be quite a bit faster.

All that said, I never intend

[2015-09-28 17:38] alanz commented on #627
FWIW the commit I refer to keeps the lines as lines, accumulates them in
reverse order, and then does an intercalate of "\n" on the reversed list.

On Mon, Sep 28, 2015 at 6:53 PM, Nikolay Yakimov notifications@github.com
wrote:

[2015-09-29 09:39] mineo opened #628 "Function signature insertion with M-t doesn't work"
I've created a test project with `stack new new-template`. In the automatically generated `src/Lib.hs` I added the following line:

[code]

With the point on the beginning of that line, typing `M-t` tells me there's "Nothing to be done". According to http://www.mew.org/~kazu/proj/ghc-mod/en/emacs.html however,

I have started emacs from the directory `ghc-20150915.2030` (this is the latest update

[2015-09-29 10:05] mineo opened #629 "The "Resolving import hell" example does not work"
With the same setup as in #628 in `src/Lib.hs`, after inserting

[code]

and placing the cursor on the beginning of that line, typing `M-t` does indeed add the line

[code]

but not

[code]

Without moving the cursor, typing `M-t` again opens a GHC Error window with the following content:

So I thought, maybe this doesn't work because I haven't configured the bytestring package as a dependency, so

[2015-09-29 12:38] fatlazycat opened #630 "Trying to compile with Stack"
Getting the error below - any ideas ? Thanks

[24 of 46] Compiling Language.Haskell.GhcMod.CabalHelper ( Language/Haskell/GhcMod/CabalHelper.hs, .stack-work/dist/x86_64-osx/Cabal-1.22.4.0/build/Language/Haskell/GhcMod/CabalHelper.o )

/Users/graham/Development/GitHub/kazu-yamamoto/ghc-mod/Language/Haskell/GhcMod/CabalHelper.hs:149:33:
    Not in scope: ‘packageId’

/Users/graham/Development/GitHub

[2015-09-29 13:47] DanielG commented on #630
The short answer is don't compile the git version with Stack we don't use it during development. The error is probably because it's not using the git version of cabal-helper though.

[2015-09-29 14:02] #630 closed, assigned to nobody

[2015-09-29 15:21] alanz opened #631 "Control.Monad.Error is deprecated"
According to https://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Error.html

Should use `Control.Monad.Except` instead.

[2015-09-29 17:42] DanielG commented on #631
Not available with the mtl in ghc 7.6 or 7.4 don't remember.

[2015-09-29 17:42] #631 closed, assigned to nobody

[2015-09-29 19:26] d12frosted opened #632 "cradleDistDir and stack"
Hey,

I am not sure how to test it properly, but looks like `cradleDistDir` is wrong when you are using `stack`. My initial problem is that when I am using `stack` - `Paths_name` module can't be found, which brings troubles which flycheck.

Also, `Paths_name` is in `other-modules` section in `.cabal` file. When I start process with `haskell-mode` and try to navigate to `Paths_name` module - it bri

[2015-09-29 19:38] DanielG commented on #632
`rm -rf dist/` or `cabal clean` is your friend: https://github.com/kazu-yamamoto/ghc-mod/blob/master/Language/Haskell/GhcMod/Cradle.hs#L90

[2015-10-01 12:07] expipiplus1 opened #635 "Package resolution failure on test executables"
Running ghc-mod on its own test code fails, as it doesn't see the correct packages:

Running `ghc-mod info src/GHCMod.hs foo` has the correct behaviour, but running `ghc-mod info test/Main.hs foo` fails because the packages aren't being made visible.

As far as I can tell, ghc-mod isn't compiling the files with the packages (and other attributes) they are listed with in the .cabal file, instead it

[2015-10-01 12:11] expipiplus1 opened #636 "Is it possible to silence linker warnings on Windows"
Whenever I run ghc, I get a stack of linker warnings along the lines of `ghc.exe: warning: _tzset from msvcrt is linked instead of __imp__tzset`

This is listed in this ghc bug: https://ghc.haskell.org/trac/ghc/ticket/10454

Until this is fixed, is it possible to squash these warnings from ghc-mod's output? They often work their way into vim plugins, and other places where ghc-mod is used on the s

[2015-10-02 10:52] user471 opened #637 "No documentation found"
Both M-C-d and C-uM-C-d always return "No documentation found"
I use Haskell Platform 7.8 on Windows 8.

[2015-10-02 15:21] gleber opened #638 "Switch back to less restrictive license than AGPL"
Use of AGPL restricts use of software licensed under it at corporations, since AGPL is not well defined and leads to ambiguity, which corporations' lawyers do not like.

[2015-10-02 17:16] DanielG commented on #638
No actually copyright law restricts the use of software and I, as the nice person that I am and the author of said software, grant you various freedoms that you otherwise wouldn't have.

The AGPL3 license is essentially the GPL3 license with one additional provision. The GPL has been used by a large number of free software projects for years now so you really can't call it "not well defined".

If

[2015-10-02 17:21] DanielG commented on #635
Yeah we use an ugly workaround to get the tests to work: https://github.com/kazu-yamamoto/ghc-mod/blob/master/Language/Haskell/GhcMod/Cradle.hs#L46

This is because some of the tests assume a plain (i.e. non cabal) environment but since there is a .cabal file up the directory hierarchy for the tests ghc-mod thinks they are part of a cabal project.

[2015-10-02 19:37] gleber commented on #638
I will try to get more details from them to give better argument.

[2015-10-03 08:59] d12frosted commented on #632
As I told - I don't use `cabal`. I use `stack`. So I don't have `dist` directory. Everything goes into `.stack-work`.

[code]

[2015-10-03 09:21] DanielG commented on #632
Well people tend to have those left over from their cabal-install days so I have to ask. Give me the output of `ghc-mod debug` in that directory then.

[2015-10-03 09:44] d12frosted commented on #632
Ah, I see. Well, we are at the same page then :)

The output of `ghc-mod debug` is

[code]

[2015-10-03 09:47] DanielG commented on #632
Looks perfectly fine to me:

[code]

Must be something different.

[2015-10-03 09:57] d12frosted commented on #632
Indeed. Well, I'll try to dig into it deeper. I'll let you know about results.

[2015-10-03 11:14] rikvdkleij opened #639 "ghc-modi deprecated"
@DanielG I noticed in 5.4.0.0 `ghc-modi` is deprecated. Can you explain future plans?

[2015-10-03 12:18] DanielG commented on #639
Just replace calls to ghc-modi with `ghc-mod legacy-interactive`. Having two executables was just pointless to begin with.

[2015-10-03 12:21] rikvdkleij commented on #639
Thanks for your quick reply. So the interactive mode will be continued?

[2015-10-03 12:27] DanielG commented on #639
Uh yeah but we'll probably transition to a new protocol or something in the future because the thing we have currently is awful, so the new thing will be `ghc-mod interactive` and the old one is legacy-interactive ;)

[2015-10-03 12:32] rikvdkleij commented on #639
I agree we need a better protocol :-) For some inspiration: https://github.com/kRITZCREEK/psc-ide

[2015-10-03 13:42] alanz commented on #639
+1

[2015-10-03 18:33] rikvdkleij opened #640 "stack and test-suite"
Build project with stack. Test dependencies in test-suite (for example hspec) are not recognized by ghc-mod. If I put same dependencies in library section, ghc-mod does not complain anymore.

ghc-mod debug
Warning: resolveModule "/home/rik/haskell/projects/quicksort/test/Spec.hs":
         could not execute: hspec-discover
Root directory:       /home/rik/haskell/projects/quicksort
Current director

[2015-10-03 18:51] rikvdkleij commented on #640
Hmm, I solved problem by removing the Setup.hs file. Do not understand why.....

[2015-10-03 19:03] rikvdkleij commented on #640
It's weird. It was working and suddenly not anymore.

[2015-10-04 11:14] d12frosted commented on #630
But you can [ask](https://github.com/commercialhaskell/stack/blob/master/doc/yaml_configuration.md#packages) `stack` to install from git.

[code]

Just tried it and it worked! :)

[2015-10-04 12:22] DanielG commented on #630
I _really_ don't want to have to update that every time I commit something to cabal-helper -.-

Maybe I should just move those two projects into one repo but I dunno.

[2015-10-04 12:50] alanz commented on #630
See https://github.com/commercialhaskell/stack/issues/697

[2015-10-04 14:10] nrolland commented on #630
@d12frosted  thanks for sharing. I had to use

[code]

[2015-10-04 14:11] nrolland commented on #630
@alanz there are already a fair number of non-core flags and whistle to stack IMO

[2015-10-04 17:36] rongcuid opened #641 "Checking with emacs seems to fail"
I am using Stack LTS 3.7 as my haskell distribution, and emacs as editor, using Ubuntu 14.04. When I used the ghc, ghc-mod, and haskell-mode from Ubuntu repo, everything worked as expected. However, later I removed the Ubuntu official packages and started using the stack one, and the error check no longer works in emacs. That is, the line of error is not highlighted in red. I have these configurat

[2015-10-04 17:37] rongcuid commented on #641
Neither GHC nor HLint works in emacs

[2015-10-04 19:06] rikvdkleij commented on #640
If you need more information let me know.

[2015-10-04 19:53] nrolland commented on #607
where does ghc-mod find its library ?

If launched with command line, from the location of `ghc-mod debug`, say
`GHC System libraries: /Users/nrolland/.nix-profile/lib/ghc-7.10.2`

from `stack exec -- ghc-mod boot` this will add the stack package database hierarchy :

[code]

but where should it be declared that emacs use `stack exec -- ...`  and not the barebone version ?

[2015-10-04 21:21] d12frosted commented on #630
But you don't have to. `ghc-mod` has following line in it's cabal file:

[code]

Correct me if I am wrong, but I though that your flow is following - when you release new version of `cabal-helper` you decide if `cabal` file needs to be updated as well in order to include latest changes, right? So for stack you need to do only one additional step - update commit hash in `stack.yaml` to 'release' co

[2015-10-04 21:21] d12frosted commented on #630
@nrolland hm, probably you have some problems with `ssh` keys, right?

[2015-10-05 11:23] nrolland commented on #630
@d12frosted yes exactly

[2015-10-05 14:08] gleber commented on #638
There are few aspects of AGPL which makes it problematic: given broad enough interpretation, licensor can claim that, any code which was created with a tool, becomes connected with the tool as if it interacted with it over the network, which would require the code to be also released as AGPL. The license also has not been yet tested with courts, hence lawyers prefer to keep on the safe side and pr

[2015-10-05 15:22] DanielG commented on #638
Okay first I would like you to read Section 13 of the AGPL3:

[code]

The AGPL3 does not add any other requirements to the GPL3 other than this
section, I removed the stuff about the interaction with GPL3 since that's
irelevant.

Please point me to the passage that says that your program has to be under the
AGPL if you remotely interact with it :). My reading of this is: If you let
someone use you

[2015-10-05 15:24] DanielG commented on #638
Oh also your interpretation of remote interaction is clearly not the intent of the license, see: https://www.gnu.org/licenses/gpl-faq.html#AGPLv3InteractingRemotely

[2015-10-05 15:34] DanielG commented on #630
@d12frosted Right now I only need to bump the cabal-helper bound in the cabal file if I actually introduce a breaking change or add a new feature that I want to use in ghc-mod. With stack+git I'd have to bump the commit hash on every commit, which makes me sad :P

I think I'll add a note about developers also needing a development version of cabal-helper to the README eventually and leave it at th

[2015-10-05 15:38] d12frosted commented on #630
Well, I am ok with that. But whenever you need to install `ghc-mod` using `stack` - you need to modify `stack.yaml` file by adding link to `cabal-helpers`. It's not that hard, but worth mentioning in installation notes, I think.

Anyway, thanks for looking into this!

[2015-10-05 15:40] DanielG commented on #630
I think I'm going to remove stack.yaml and just say you have to run `stack init` or what it was in the README actually. This and that other thing about us picking a single lts release for everyone just bothers me too much.

[2015-10-05 15:41] DanielG commented on #630
I released a new version of cabal-helper now so this should be fixed now. (when it goes into stackage anyways)

[2015-10-05 15:44] d12frosted commented on #630
Thats nice! When it gets there people really could just `stack init; stack install`.

[2015-10-05 15:57] DanielG commented on #630
Well it is already in stackage, just whenever the new version trickles through you can use stack for development again. But this is pretty much exactly why I don't like stack. When you don't conform to their way of doing things, i.e. everything in one repo, nothing actually works the way it's supposed to -.-

[2015-10-05 16:04] d12frosted commented on #630
Yeah, it adds some 'complexity' (not the right word, but don't remember the right one!) for developers, but in my opinion, it's much easier for users :smile:

Anyway, I hope having installation notes for stack users will be enough :smile:

[2015-10-05 16:15] DanielG commented on #630
Users, sure. But ghc-mod is a tool by developers for developers so I find it rather perverse to make life harder for developers xD

[2015-10-05 16:16] d12frosted commented on #630
Good catch! Haha. But what about newcomers? :smile:

[2015-10-05 16:19] DanielG commented on #630
Well I'm supporting stack ain't I?!

[2015-10-05 16:32] expipiplus1 commented on #635
I think it's little more than that. Sometimes tests require their own packages which are spelled out in the .cabal file and not just a plain setup.

For example in an empty project with a test executable which depends on `my-package` ghc-mod won't be able to process the test executable source because `my-package` wasn't specified in the .cabal file. In the example below ghc-mod will not be able to

[2015-10-05 17:19] nrolland opened #642 "what to change in emacs to use ghc-mod so that it finds library's packages ?"
In a project's directory, if I launch `ghc-mod` from the command line, `ghc-mod debug` tells me I have access to whichever libraries were available for the compiler I used to build `ghc-mod`.
For instance :

[code]

using  `stack exec -- ghc-mod boot` gives access to the stack package database hierarchy to the environment :

GHC_PACKAGE_PATH=/Users/nrolland/clones/client-json/.stack-work/install/x

[2015-10-06 01:59] wolftune opened #643 "Add Atom's haskell-ghc-mod to list at http://www.mew.org/~kazu/proj/ghc-mod/en/"
https://github.com/atom-haskell/haskell-ghc-mod is another option for Atom…

[2015-10-06 02:46] denver-HJS opened #644 "ghc-mod with Stack on OS X - having issues running"
Hi, I'm unable to run the ghc-mod commands. I've installed everything via Stack.

For example: `ghc-mod type src/Handler/Home.hs 9 9`

Outputted message:

Versions running:
- ghc: 7.10.2 installed via Stack (added stack install dir to my path)
- OS X: 10.10.3
- Cabal library: 1.22.4.0
- ghc-mod: 5.4.0.0 (installed via stack --resolver nightly)

If it's any help I came across this interesting [SO p

[2015-10-06 04:34] wolftune commented on #638
The significance of the GPLv3 suite is that it was all _heavily_ vetted by lawyers, including those from many major corporations. The language is legally sound and solid. AGPLv3 for ghc-mod has absolutely no effect on any Haskell programs you build using ghc-mod unless you are actually using it as a dependency. directly.

@gleber ghc-mod is not something you use _in_ your software, it's just somet

[2015-10-06 16:52] DanielG commented on #643
We haven't really updated the website in ages, I'm working on a new one but that'll take a while. I'm also rewriting the README so I'll just make sure to mention it there.

[2015-10-06 16:54] DanielG commented on #644
`rm dist/` probably, see: https://github.com/kazu-yamamoto/ghc-mod/wiki#its-not-working

[2015-10-06 17:09] DanielG commented on #641
Give me the output of `ghc-mod version`, stack exec -- ghc --version and `ghc-mod debug`, run in any of your project directories please.

[2015-10-06 17:11] DanielG commented on #640
Can you try running `stack test` before trying to run ghc-mod on any of your test modules. I think that should do the equivalent of `cabal configure --enable-tests` so cabal-helper can pick up the right dependencies from the Cabal setup-config. I'm not actually sure though since I haven't tested this and no-one has confirmed that this works so far.

[2015-10-06 17:13] DanielG commented on #640
Oh `stack test --only-configure` should do the trick actually. Regrettably there isn't a way to get the state of the --enable/disable-{tests,benchmarks,..} flags out of LocalBuildInfo so every time ghc-mod decides to reconfigure the project you might have to re-run that.

[2015-10-06 17:17] DanielG commented on #642
Alright so something fishy is going on here. In the cases where you're "only getting global packages", can you run `ghc-mod debug` and look at the `GHC Cabal options` section. In there you will find the options we're passing down to ghc for each cabal component. Look for --package-db flags, those will tell you which package databases it's actually using.

That should enable you to debug it yoursel

[2015-10-06 17:34] rongcuid commented on #641
`ghc-mod version 5.4.0.0 compiled by GHC 7.10.2`

`The Glorious Glasgow Haskell Compilation System, version 7.10.2`

[code]

[2015-10-06 18:12] DanielG commented on #641
That all looks good, what happens when you run `ghc-mod -v7 check <some-hs-file>` on the conmmand line after introducing an error in that file?

[2015-10-06 18:34] rongcuid commented on #641
Code:

[code]

Check:

[code]

[2015-10-06 19:34] rikvdkleij commented on #640
Sorry, I tried different combinations but I do not get it solved.

[2015-10-06 19:51] rikvdkleij commented on #640
Hmm, while `check` is complaining:
test/QuicksortSpec.hs:4:18:Could not find module ‘Test.Hspec’Use -v to see a list of the files searched for.
test/QuicksortSpec.hs:5:18:Could not find module ‘Test.QuickCheck’Use -v to see a list of the files searched for.

`info` and `type` are returning results for identifiers in test file.

[2015-10-06 20:14] alanz commented on #640
Have you configured to enable the tests? Else ghc-mod will not know about them, or their dependencies

[2015-10-06 20:15] alanz commented on #640
@dxld I am beginning to wonder if ghc-mod should not have a private `dist` directory where it configures with all targets enabled. Perhaps it is just a problem when using it from the API

[2015-10-06 20:19] rikvdkleij commented on #640
@alanz Which command do I have run to enable the tests? I'm using stack and not cabal. I already tried the ones which @DanielG had proposed.

[2015-10-06 20:21] rikvdkleij commented on #640
`stack test` is running without problems.

[2015-10-06 20:22] alanz commented on #640
I do not use stack much, but perhaps run `stack test`. Not sure if there is
an option to configure only

On Tue, Oct 6, 2015 at 10:19 PM, Rik notifications@github.com wrote:

[2015-10-06 20:23] alanz commented on #640
What happens if you run the ghc-mod check command after `stack test`?

[2015-10-06 20:30] rikvdkleij commented on #640
@alanz No difference

[2015-10-06 20:38] alanz commented on #640
Then I can't help

On Tue, Oct 6, 2015 at 10:30 PM, Rik notifications@github.com wrote:

[2015-10-06 20:43] rikvdkleij commented on #640
@alanz as well thanks for your help

[2015-10-07 08:26] nrolland commented on #642
Thank you for your feedback, I could finally find that this was caused by a leftover "dist" directory which has preferences over stack . for additional reference (docs ?), this can be seen running `ghc-mod debug` (spot the 'dist' directory being mentioned)

[code]

it did not strike me as obviously wrong as I have little experience with the stack based ghc-mod.
Here is the corresponding output of

[2015-10-07 08:31] #642 closed, assigned to nobody

[2015-10-07 10:14] DanielG commented on #640
I'll have to give this a closer look at some point then, not sure what's going on.

[2015-10-07 10:18] DanielG commented on #607
I think I need a test case to debug this in any meaningful way, so if anyone wants to construct an simple project that exhibits this problem or just link me to an existing one that would be terrific.

[2015-10-07 10:25] nrolland commented on #607
as for me, somehow my emacs config was generating a "dist" directory automatically... leading to the known issue with stack

[2015-10-07 14:06] veniversum opened #648 "Emacs ghc-mod hlint checking highlights at wrong position"
When checking with hlint in emacs, the first line of the file is highlighted/underlined as a warning or error instead of the actual place for the suggestion.

Running `ghc-mod lint filename.hs` in console correctly generates list of suggestions with line numbers and positions, e.g.

[code]

but only the first line of the file is underlined in emacs and the warning shown while hovered over.

emacs

[2015-10-07 18:49] rikvdkleij commented on #640
@DanielG Let me know if I can help you.

[2015-10-07 19:22] alanz commented on #616
Alternatively,

[code]

[2015-10-08 06:02] wolftune commented on #644
Confirmed! I just had this problem myself on GNU/Linux. Our instructions for Snowdrift.coop recommend using `yesod devel` which _currently_ still does cabal-based building and makes dist/ directory. So, we need to update our instructions to use `stack exec Snowdrift Development` to _manually_ run the site in order to function with ghc-mod. That's a frustrating workaround, but that's the answer unt

[2015-10-09 08:25] k-bx commented on #607
@DanielG I created a repo with clear instructions on how to reproduce. Please, check it out!

[2015-10-09 08:25] k-bx commented on #607
@DanielG oops, repo is at https://github.com/k-bx/ghcmod-bug

[2015-10-09 19:14] DanielG commented on #644
You could always just patch out that single line in ghc-mod that does the dist/ check ;)

[2015-10-09 19:21] wolftune commented on #644
@DanielG but while I could do that myself, I don't think I want to instruct everyone else to do that per se nor maintain a fork of ghc-mod… but yes, I suppose there might be some cleanish way to sorta manage this… anyway, when yesod devel stops using cabal and works directly with Stack the issue will go away, and it's not that awful to just not have yesod devel…

[2015-10-10 15:40] philipcunningham commented on #640
I'm actually seeing a similar error with `ghc-mod` but I have no idea how to begin debugging this. Any tips welcome.

[code]

[Project in question is here](https://github.com/filib/ruby-marshal).

[2015-10-10 19:31] robstewart57 commented on #618
Is there a way of just keeping ghc-mod stderr silent? Now I'm getting lots of messages as such:

[code]

But I do appear to be getting some functionality from haskell-mode. I want ghc-mod's behaviour to be: if I don't work 100% (i.e. I am writing to stderr), just silently fail. Currently every time I save a .hs file I get the error message above interrupting me in the _GHC Error_ buffer. Asking th

[2015-10-10 19:35] robstewart57 commented on #618
Another question is: how to I debug ghc-mod when it returns this message?

[code]

As shown, though, I am using `-v`, but I'm not getting more information.

[2015-10-10 20:20] DanielG commented on #618
1) You have to remember that ghc-mod is a layer around GHC and in this specific case it's GHC yelling at you.
2) You need to "escape" GHC options with `-g` so you want `-g-v` for it to go down to GHC. And for good measure you also want to prepend `-v7` or so to the ghc-mod command line so GHC's trace stuff actually gets logged.

[2015-10-10 20:21] DanielG commented on #618
As for getting ghc-mod to be silent, there isn't a way right now IIRC. I told @kazu-yamamoto to add a flag to make logging to that buffer optional at the time but I think it never happened. Feel free to send me a patch ;)

[2015-10-10 21:55] robstewart57 commented on #618
Done. Here's my PR for a review: https://github.com/kazu-yamamoto/ghc-mod/pull/649 .

[2015-10-10 23:01] robstewart57 commented on #618
I've updated the PR, with 1) documentation that `(setq ghc-report-errors nil)` suffices to override the default, and 2) the variable is `ghc-report-errors` .

[2015-10-11 17:37] NightRa opened #650 "Add ghc-mod & it's dependencies to stackage"
Currently, ghc-mod's extra dep `cabal-helper-0.6.1.0` doesn't allow an installation via `stack install ghc-mod`, see https://github.com/commercialhaskell/stack/issues/1144

`ghc-mod` and `cabal-helper-0.6.1.0` should be added to Stackage.

[2015-10-11 19:58] DanielG commented on #650
Um: https://www.stackage.org/nightly-2015-10-09/package/ghc-mod-5.4.0.0

[2015-10-11 19:58] #650 closed, assigned to nobody

[2015-10-11 20:03] NightRa commented on #650
Oh, It's just not on the LTS. Thank you.

[2015-10-11 20:05] NightRa commented on #650
`stack install ghc-mod --resolver=nightly` if anyone needs this.

[2015-10-12 09:29] nrolland opened #651 "cabal-helper 0.6.1.0"
when I compile ghc-mod I get this error

[code]

Where can I find cabal-helper 0.6.1.0 ?
The current  master on github c2f6a2e5bf40f9e4cb9276bcc9b58ec3627f727a
is only 0.6.0.0 .......

my stack file :

[code]

[2015-10-12 09:35] nrolland commented on #651
I downloaded cabal-helper, changed its version to 0.6.1.0 and used stack file

[code]

[2015-10-12 10:17] DanielG commented on #651
Forgot to push the bump commit, my bad.

[2015-10-12 10:18] #651 closed, assigned to nobody

[2015-10-12 10:51] nrolland commented on #651
thank you ! I was unsure of the whys otherwise I would have submitted a PR..

[2015-10-12 11:17] DanielG opened #652 "elisp: C-x C-w (write-file) confuses elisp (multiple defintions of module Main)"
[code]

[2015-10-12 11:55] DanielG opened #653 "Make map-file less of a hack by using semi-canonical file paths everywhere"
Most of the complexity of [`map-file`](https://github.com/kazu-yamamoto/ghc-mod/pull/484/files) seems to come from the fact that we need to splice the original file path into places where the temporary file name used to implement redirection will show up in the output.

This problem stems from the fact that right now we always `canonicalizePath` any file paths we handle internally. This in turn is

[2015-10-12 12:05] alanz commented on #653
This assumes that for a given project everything is defined as being relative to the root of the project, as in `ghc-mod root`?

Can there ever be more than one cabal file in play at the same time, as in a complex project?

If so, there needs to be a clearly defined top level root

[2015-10-12 12:31] DanielG commented on #653
I don't think that's a problem really, just replace 'project directory' in the above with 'super-project directory' and it should still work ;)

[2015-10-12 12:34] alanz commented on #653
I agree, we just need to be clear what is being used as the root, at all
times.

On Mon, Oct 12, 2015 at 2:31 PM, Daniel Gröber notifications@github.com
wrote:

[2015-10-12 15:09] gleber commented on #638
I do agree personally with both of you. And by reading the license I do see things the same way you do.

IANAL and actual lawyers set up policies for our company. They clearly want to be on the very safe side of things... I will try to see if there are any chance to get an exception for ghc-mod to allow it's use here.

[2015-10-12 15:42] wolftune commented on #638
To hammer home my point: it's about as relevant as if you write software on a system running Linux and are publish the software under a non-GPL license for others. The Linux kernel is GPL, but nobody nobody nobody says that all software you write at all on a Linux system must be GPL. Your lawyers' interpretation is _that_ ludicrous. Ghc-mod is _not_ used in your software, it's only something you u

[2015-10-13 02:18] kritzcreek commented on #640
I got rid of these errors by installing hspec-discover to my global binaries with stack install hspec-discover. It would of course be nice to not have to do that :)

[2015-10-13 15:35] nrolland opened #654 "adding ghcjs type inference to ghc-mod"
Hi,

Luite added some support for retrieving ghc-mod kind of information from GHCJS project [here](https://github.com/luite/ghc-mod/tree/ghcjs-support-hack) [(commit 1)](https://github.com/luite/ghc-mod/commit/3d11d0e2f2caea4038189c5a2f4561e8c1f53cc9) [(single GHCJS entry point refactor)](https://github.com/luite/ghc-mod/commit/66472b28d468cf02a07447f99abe246171810a2b)

A file containing GHCJS spe

[2015-10-13 16:15] nrolland opened #655 "explicit stack / cabal / .. cradle setting"
When using ghc-mod with stack, the mode gets deactivated when it encounters a "dist" directory.

That means relying on the side effects from some aggressive "cabal configure" of some other tools.
As of now it seems that we rely on heuristics which might be brittle.

in Cradle.hs

[code]

Would it make sense to add some explicit input flag to pin down a specific mode ?

[2015-10-13 16:50] rongcuid commented on #641
What other information do I need to provide?

[2015-10-13 19:02] DanielG commented on #655
+1 but we have to be careful how we do this. I'm still on the fence about weather we should give ghc-mod an (emacs) .dir-locals style configuration mechanism or just have the frontends handle configuration using whatever is appropriate for the specific frontend and just have them communicate the options to ghc-mod using flags.

I just don't want to end up with a mixture of having some options only

[2015-10-13 19:04] DanielG commented on #641
From what I can see it should work, make sure you have matching elisp and program versions. The elisp version is in `ghc-version` and `ghc-mod version` will return the program version.

[2015-10-13 19:05] DanielG commented on #641
It looks like you have the right version on the load path from the elisp init code above but I really cannot see another reason this would not be working.

[2015-10-13 19:14] DanielG commented on #654
Oh boy, I knew this request would come in at some point ;)

I really don't know enough about ghcjs to be able to say what needs doing exactly.

So essentially we can just link against `ghcjs` instead of `ghc`, replace a few references to `ghc*` programs here and there and we should be fine, right? right, that's what it looks like fork you linked is doing. `cabal-helper` might need some hacks too?

[2015-10-13 19:19] #618 closed, assigned to kazu-yamamoto

[2015-10-13 19:20] DanielG commented on #618
Awesome, thanks.

[2015-10-13 19:33] luite commented on #654
I used my tachyon drive to go two days back in time and do a proof of concept to show how the GHC API should be set up for GHCJS and also pushed a change to the GHCJS library to make it easier and more future proof. Code here:

https://github.com/luite/ghc-mod/tree/ghcjs-support-hack

There is no front end, this hardcodes GHCJS, if a package has been configured for GHC instead, the package ids wil

[2015-10-13 19:37] luite commented on #654
Just to be clear, pretty much everything is still GHC, the `ghc` package is still needed, but the session is changed to use the GHCJS compilation settings, which means different default package db locations, overriding foreign import checking (with the `JavaScriptFFI` extension enabled) and some changes in baked in types.

I don't know if there are other things that break here, but the basics seem

[2015-10-13 20:06] rikvdkleij commented on #640
@kRITZCREEK Thanks! This also solved the problem with `check` in hspec test files.

[2015-10-13 20:20] rongcuid commented on #641
OK, I finally saw it. It seems that for this version, there is only a tiny underline under the error, which I easily overlooked on my HiDPI screen.

[2015-10-13 20:22] nrolland commented on #644
.@wolftune some other tools are also silently generating cabal configure. eg. on haskell-mode I think, hence dist. I got bit..

[2015-10-13 20:39] nrolland commented on #655
we can have a hierarchy of options like what is here https://github.com/zerobuzz/configifier/blob/master/examples/Main.hs

It provides for a sane chain of - overridable - priorities

[code]

with some type safety and nested config points

[code]

[2015-10-14 01:18] wolftune commented on #644
@DanielG I'd recommend either editing the title of this issue or closing it

[2015-10-14 12:36] DanielG commented on #641
Ah so that's an emacs issue not a ghc-mod issue then ;)

[2015-10-14 12:36] #641 closed, assigned to nobody

[2015-10-14 12:38] DanielG commented on #644
See https://github.com/kazu-yamamoto/ghc-mod/issues/655 , we're going to fix this autodetection eventually.

[2015-10-14 12:38] #644 closed, assigned to nobody

[2015-10-14 15:42] expipiplus1 opened #656 "Functionality to get type of holes in partial type signatures."
It would be nice to be able to get the type of holes in partial type signatures as required by eagletmt/ghcmod-vim#85

[2015-10-14 15:53] DanielG commented on #656
You're meant to parse the typed hole warnings instead of using the type command at least that's what our frontend does now IIRC. I guess we could add a command that just returns a list of holes, their location and types tought if you like?

[2015-10-14 15:55] DanielG commented on #656
Oh I see you're already aware of that. I'm not sure how hard it would be to extract a list of typed holes, if you want to implement this go ahead but I don't have time to work on it for now.

[2015-10-14 17:39] nh2 commented on #638
I see two misunderstandings here:

1) Use of ghc-mod-the-program

@gleber You are safe to use `ghc-mod` as a development tool (the standard way it's used, e.g. calling the `ghc-mod` binary on a Haskell file) inside your company, in the same way you can use Emacs for that (which is also under the GPL). You only get a problem if you _embed_ ghc-mod into your software (e.g. when you make a proprietar

[2015-10-14 17:50] nh2 commented on #638
To bring in my personal opinion: I'd also prefer if `ghc-mod` could be as permissive as possible.

I see the value of copyleft licenses, but their protective effect is usually only strong protecting consumers (e.g. Linux's GPL did very well in protecting home users of Linux-based routers). With development tools, there's usually less need for protection, and a copyleft sometimes makes progress har

[2015-10-14 18:02] DanielG commented on #638
On Wed, Oct 14, 2015 at 10:50:47AM -0700, Niklas Hambüchen wrote:

In the case of development tools developers are the consumers, do you
not deem them worth protecting from entities that try to exploit them
for monetary gain?

I think a strong copyleft license is perfectly appropriate here, most
users will not care since they are just using ghc-mod. The people that
do care a lot will be the ones t

[2015-10-14 18:24] nh2 commented on #638
That's my point - if I were to write such a thing, I'd much rather use the Haskell interface to ghc-mod (thus link it) than interacting with its process.

I agree that if you were just interacting with the process, AGPL would be most effective for our goals, but to get a nice typesafe API, directly linking against Haskell seems a much better way than talking to a process.

I'd rather have more Has

[2015-10-14 18:28] alanz commented on #638
My concern is that we may end up with a sub-optimal technical design because of the perceived problem

[2015-10-14 18:42] DanielG commented on #638
On Wed, Oct 14, 2015 at 11:24:12AM -0700, Niklas Hambüchen wrote:

Well feel free to write a shim library that just talks to ghc-mod via
a pipe underneath and provides the same typesafety. As far as I'm
concerned I will not support that use case for proprietary software.

You also have to differentiate two use cases here an IDE written in
haskell that would like to use ghc-mod could use such a shi

[2015-10-14 18:48] DanielG commented on #638
@alanz what do you mean?

[2015-10-14 18:55] alanz commented on #638
I am approaching this from a broad view, in terms of the pieces that need to exist to go from a checked out project on a disk to being able to interact with it in an IDE.

`ghc-mod` is a logical point to hang the plugin architecture and IDE integration from.

I am concerned that a debate about what is the best architecture to achieve this may get sidetracked into suboptimal decisions because peopl

[2015-10-14 20:04] gleber commented on #638
I just wanted to make sure my request was understood clearly. I was talking purely about using ghc-mod as a program running on my workstation plugged in to Emacs under haskell-mode. Unfortunately lawyers did put a blanket ban on any AGPL software regardless of it's use :(

[2015-10-14 22:03] mgsloan commented on #638
I would also like to see consensus of effort and design around a primary way in which tooling integrates with GHC.  `ghc-mod` does seem like the logical place to do this.  I've been thinking about augmenting either ghci-ng or ghc-mod with code from ide-backend - particularly parts of [HsWalk](https://github.com/fpco/ide-backend/blob/master/ide-backend-server/HsWalk.hs) and the [ghc shims](https://

[2015-10-14 22:08] wolftune commented on #638
@mgsloan There's nothing about AGPL for ghc-mod that discourages its use in industry. The fact that some lawyers oppose it is utter stupidy.

@gleber sorry about your horrible experience at your work. Your lawyers are incompetent here. Their position is legally _identical_ (i.e. _zero_ legal basis) to telling you that you aren't allowed to _read_ the Haskell Wikibook when programming because it is

[2015-10-14 22:26] mgsloan commented on #638
I agree that it is stupid that such restrictions exist in some companies.  Stupid things can and will get enforced, though.  Why create such barriers?

[2015-10-14 22:29] DanielG commented on #638
Oh look at this article that says exactly what I'd say in response to that (more or less): http://lwn.net/SubscriberLink/660428/be2ce470dffefc44/

[2015-10-15 00:51] wolftune commented on #638
@mgsloan indeed, why create such barriers? … is a question for the lawyers who are being irresponsible. Nobody here is creating those barriers, certainly the AGPL is not a barrier here.

At best, you mean "why fight that battle?" and the question amounts to implying that people should adapt to fit whoever has the lowest level of understanding, least flexibility, and worst judgement… if that person

[2015-10-15 05:13] snoyberg commented on #638
@wolftune We can wax political all we want. The facts of the matter remains unchanged:
- Some companies have policies preventing usage of GPL software in general
- Usage of ghc-mod more towards library usage (as Alan Zimmerman is proposing on the haskell-ide list) would require future work to be similarly copylefted
- Many developers do not want to have their contributions automatically copylefted

[2015-10-15 05:28] wolftune commented on #638
@snoyberg FWIW, I find your points reasonable. I was mostly critiquing the tone of the earlier comments rather than weighing in on this exact licensing decision. I'm much more willing and patient with arguments that say something like:

In other words, I'm okay with arguments about tactics, avoiding unnecessary battles, accepting practical compromises… I think there's _strong_ cases to be made for

[2015-10-15 05:33] snoyberg commented on #638
The reason I got involved in this discussion is because Alan Zimmerman proposed working more collaboratively on Haskell IDE tooling, possibly using ghc-mod as a basis. If we were to do this, the code in question would very likely end up becoming used as a library, not just an external executable, and therefore the license very much _does_ matter. If these situations were all resolved, I think ther

[2015-10-15 05:45] wolftune commented on #638
@snoyberg without weighing into all the details, let me just assure you that both you and @DanielG have my sympathies, and I see both of you having some valid concerns. I strongly favor pragmatism in general and reject dogmatism. We should all admit that these issues are fuzzy because there's so much we don't always know. Effectively copyleft licensing is about the _fear_ of proprietary co-option

[2015-10-15 05:49] snoyberg commented on #638
As I mentioned, we're currently discussing large scale collaboration. An
example project I could easily imagine coming out of this would be a
company offering a web based interface for customers to write short days
analysis scripts that are interpreted by GHC and use a proprietary library.
This kind of user case is supported today be ide-backend, and would be
excluded by AGPL3. I wouldn't contribu

[2015-10-15 06:08] wolftune commented on #638
@snoyberg thanks for clarifying about the concrete example.

I don't know what short days analysis scripts are.

I personally feel very wary about the idea of proprietary libraries that let people run code analysis via some web service. Anything that creates a situation in which the community comes to rely on a proprietary web service in their development and people who don't use that are left wit

[2015-10-15 06:51] snoyberg commented on #638
Sorry, swypo. I meant "short data analysis scripts." This is very much the kind of thing finance and data science companies would be interested in providing.

Anyway, I've made my point - as have others - about the affects of this licensing change. It's been made clear to me that this opinion will be ignored, and that I'm seen more as a competitor than a collaborator, for some reason I can't compr

[2015-10-15 16:59] Javran commented on #617
Problem solved on https://github.com/commercialhaskell/stack/issues/1167, closing ...

[2015-10-15 16:59] #617 closed, assigned to DanielG

[2015-10-16 12:01] gracjan commented on #587
Note that there are three possible sources where haskell-mode may come from:
- MELPA-STABLE with version numbers from package.el
- MELPA with melpa assigned version numbers based on date
- install from git checkout with version number from source code

[2015-10-16 13:40] expipiplus1 opened #657 "Option to use stack in the presence of dist directory"
It would be nice to be able to force ghc-mod to use stack, even if there's a dist directory in the root.

[2015-10-16 17:18] wolftune opened #658 "minor hackage typo"
https://hackage.haskell.org/package/ghc-mod has "multiple licese files" missing an `n`

[2015-10-16 18:38] DanielG commented on #658
https://github.com/haskell/hackage-server/search?utf8=%E2%9C%93&q=multiple+licese+files&type=Code

[2015-10-16 18:38] #658 closed, assigned to nobody

[2015-10-16 18:49] DanielG commented on #657
Duplicate: https://github.com/kazu-yamamoto/ghc-mod/issues/655

[2015-10-16 18:49] #657 closed, assigned to nobody

[2015-10-16 18:58] jhegedus42 opened #659 "Feature : make C-cC-m work for locally defined functions as well"
Currently if I type C-cC-m on >>> in Emacs then ghc-mod will successfully include an explicit import  `Control.Arrow ((>>>))` replacing `Control.Arrow`. It would be nice to have this feature for identifiers defined in the current project too. For example, in module `A` if I hit C-cC-m on the identifier on `fun` which is defined in module `B` then it would be useful if ghc-mod would insert the expl

[2015-10-17 22:07] expipiplus1 commented on #635
Aha, this seems to happen only when one is using stack.

Without knowing any of the details, I'd take a guess at the cause being that stack is a little more careful about where it installs packages, and which of them are visible to whom.

[2015-10-18 14:57] deflexor opened #660 "using ghc-mod with stack: cabal-helper-wrapper: ghc: readCreateProcess: runInteractiveProcess: exec: does not exist (No such file or directory)"
Just did fresh install of stack, then haskell via stack setup, then configured emacs as described here: https://github.com/serras/emacs-haskell-tutorial/blob/master/tutorial.md

Then after starting emacs and opening .hs file got this error message:

[code]

There is no dist subdirectory in project dir. GHC, version 7.10.2

[2015-10-18 15:04] obadz opened #661 ""ghc-prim-0.4.0.0:GHC.Prim.Any" is sometimes displayed instead of "a" when invoking ghc-show-type"
I don't have much more details to report as I can't identify what's the trigger for this problem, but some times functions or values have type variables replaced by `ghc-prim-0.4.0.0:GHC.Prim.Any`.

For instance, invoking `ghc-show-type` on `show :: Show a => a -> String` might display `ghc-prim-0.4.0.0:GHC.Prim.Any -> String`

Using:
- ghc 7.10.2
- ghc-mod version 5.4.0.0
- Somewhat recent nixos-

[2015-10-18 19:32] peti opened #662 "Please be respectful to contributors who try to help by sharing their experiences"
When people have trouble with `ghc-mod` and find that there is an issue for that problem already, like https://github.com/kazu-yamamoto/ghc-mod/issues/498, then it makes perfect sense for them to report these problems in that issue. Now, if that the issue was closed before, but now there's indication that the problem might still exist anyway, then the proper response by the project owner is to RE-

[2015-10-18 20:29] DanielG commented on #662
The issue that was reported is unrelated to the issue it was reported in -> hijaking. Maintainer time is limited and keeping the issue tracker organized is vital to me and other people finding and helping with these issues.

It really helps no one when new problems are appended to old issues so that potential new contributors that would be able to help fix it have to read through all the unrelated

[2015-10-19 00:24] DanielG commented on #660
Okay so it's complaining the `ghc` executable does not exist.

My guess is you installed ghc-mod using stack, you're using Stack's `--install-ghc` builtin GHC thing. Therefore the GHC that Stack installed is not on your PATH and you're trying to use ghc-mod in a project that is not a Stack project.

Easy fix: just add _any_ version of ghc to your PATH. It's only needed to build cabal-helper's runt

[2015-10-19 00:28] DanielG commented on #660
Maybe we ought to check if `ghc` exists on the path and ask stack for one (if it's installed) when we can't find it. Should be relatively easy to add if anyone wants to shoot me a PR.

[2015-10-19 00:35] DanielG commented on #660
(Note to self: remember to remove wiki entry when this is resolved: https://github.com/kazu-yamamoto/ghc-mod/wiki#cabal-helper-wrapper-ghc--does-not-exist)

[2015-10-19 00:43] DanielG opened #663 "Fix those upper bounds"
Really have to do that one of these days, patches welcome ;)

We should also really, really update the cabal files of old version on Hackage so people don't get stupid errors because ghc-mod isn't supported with a given version of ghc.

[2015-10-19 02:33] rongcuid opened #664 "Does not see a way to customize the `ghc` or `ghc-mod` command"
Since I am using `stack` and currently only `stack`, the command to invoke `ghc` is actually a script `ghc-wrapper` which actually executes `stack ghc -- <options>`. However, I don't see any way to have ghc-mod emacs mode use any of the alternatives. I looked into the customize variables, and tried using `ghc-wrapper`, which does not seem to work:

ghc-debug:

[code]

Then, all packages imported t

[2015-10-19 02:35] rongcuid commented on #664
My current work around is the following wrapper script. <del>It seems to work, though emacs highlights errors on the "literate" part of literate haskell.</del> The highlight problem magically fixed somehow. But I would still like to be able to set the commands directly in Emacs

[code]

[2015-10-19 09:01] peti commented on #662
If the comments don't fit into the issue, then the best course of action, IMHO, is to say so politely and to point the people who commented into the right direction.

Your tone didn't sound civil to me. If it did, we wouldn't be having this conversation, would we?

[2015-10-19 10:17] DanielG commented on #664
I know this is a workaround that is currently needed for most more complicated stack setups but going forward I would like ghc-mod to handle this for you.

Once we implement https://github.com/kazu-yamamoto/ghc-mod/issues/615 this use case should either disappear completely or at least it would become very easy to check if we have to do this workaround instead.

I suppose it would be possible to c

[2015-10-19 10:45] DanielG commented on #662
On Mon, Oct 19, 2015 at 02:01:22AM -0700, Peter Simons wrote:

Well I respectufully disagree and ask you to, in the future, have the
common courtesy not to drag this sort of meta discussion about your
personal opinion out on a public forum and instead confine it to a
private conversation instead.

Just to say though, I am not getting paid for my work on this project.
I do it out of goodwill and th

[2015-10-19 12:34] peti commented on #662
With all due respect, I am not forcing you to do anything.

Anyway, I think I've made my point. Thank you for taking the time to respond!

[2015-10-19 12:34] #662 closed, assigned to nobody

[2015-10-19 18:21] DanielG opened #665 "Fix that stupid rootdir workaround since it's causing trouble"
See https://github.com/scrooloose/syntastic/issues/1576

`ghc-mod` since 5.4 needs to be run in the directory returned by `ghc-mod root`. This is an ugly woraround for a race condition in the code, we really should fix the cause instead.

We start generating the symbol table for `find` asyncrounously when running `legacy-interactive` most of the code is here: https://github.com/kazu-yamamoto/ghc-m

[2015-10-20 08:38] ghost opened #666 "Installation unsuccessful"
Building the package on my system fails due to what seems to be a dependency error.
The same set of errors occur when i execute `cabal install ghc-mod`.

[code]

[2015-10-20 10:56] DanielG commented on #666
Looks like `Cabal` is maybe linked against  `containers-0.5.5.1` and now it's trying to build our Setup.hs against Cabal and `containers-0.5.6.3`. Either reinstall Cabal while compiling it against the newer one or unregister the newer `containers` for now.

I would recommend the former: `cabal install Cabal --constraint "containers >= 0.5.6.3"

You can also try installing Cabal into a sandbox, `ca

[2015-10-23 01:17] conklech commented on #638
To go back to the discussion of AGPL and policies prohibiting it: The discussion here has portrayed @gleber's employer as irrational in prohibiting the _use_ of GPL software. Although I wouldn't impose such a policy myself, I don't think it's irrational.

To us as technical experts, there's a clear line between running a purely local process and running a service available to others. We are genera

[2015-10-23 01:25] wolftune commented on #638
@conklech Stop apologizing for bureaucracy. Yes, overly-strict rules that avoid things a business doesn't want can be understandable as rules. That doesn't mean a given case where the rule results in nonsense is rational in any way. This particular case, the _concern_ the rule is about has _zero_ actual relevance. I wasn't saying that the business in question was incompetent, I was only addressing

[2015-10-23 05:29] gleber commented on #638
@conklech's analysis portrays exactly what's happening at my employer. The ban is centered around accidental use of AGPL software in a highly interconnected code base, which we have at the corporation. According to analysis of the lawyers, if a single accidental use happens, all interconnected code becomes "infected" by AGPL.

@wolftune, I am sorry to say, but you are wrong about the concern havin

[2015-10-23 05:40] wolftune commented on #638
@gleber your company is already likely in violation of a whole bunch of patents because it is impossible to write software today without that being the case (given the absurdity of patents today). There are tons of things about your work that you could be equally general about in terms of vague potential legal risk. There is no way to have a completely guaranteed legal safety in today's environmen

[2015-10-23 08:30] andriusstank opened #667 "ghc-mod cannot find ghc on windows with stack"
Looks like "stack path" returns colon separated list in "bin-path", while splitSearchPath expects something else. See getStackEnv function in Stack.hs.

[2015-10-23 09:54] andriusstank commented on #667
Never mind, I've just realized semicolon is not good separator for windows paths. Splitting on semicolon actually worked, I was tricked by that.

[2015-10-23 09:54] #667 closed, assigned to nobody

[2015-10-23 12:33] ghost commented on #666
You were correct. It was just cabal dependency hell.
Considering it was only that it's safe to say that this issue can be closed.

[2015-10-23 12:33] #666 closed, assigned to nobody

[2015-10-23 15:08] nrolland commented on #660
if that's an easy fix, it would probably be a good opportunity to make it an introduction to ghc-mod structure to see how you would investigate about this. that would give other contributors a map of where things are

[2015-10-23 15:32] deflexor opened #668 "ghc-mod with stack: Could not find module ‘...."
How to reproduce:

Create new project with `stack` tool, then open source file in emacs and add line like:
`import     System.Random`
Then open repl with `C-c C-l` and it will offer to add package `random` to cabal file and restart ghci. After this done repl starts to work fine, but the import line in source buffer is still higlighted with red and if i run from terminal `ghc-mod check app/Main.hs`

[2015-10-24 07:32] meditans commented on #668
You have to delete `.stack-works/dist/x86_64-linux/Cabal-1.22.4.0/setup-config.ghc-mod.*` (or the equivalent).

I know, an option to do it automatically would be nice, sit tight for the next releases :)

[2015-10-24 14:07] nrolland commented on #668
@meditans can you provide some context for this ? what's the purpose of this file etc..  if you know of course

[2015-10-24 14:46] DanielG commented on #668
It's a bunch of caches that we generate from Cabal's LocalBuildInfo stuff.

[2015-10-24 14:48] DanielG commented on #668
See https://github.com/kazu-yamamoto/ghc-mod/blob/master/Language/Haskell/GhcMod/PathsAndFiles.hs#L228S

If you look for references to all those binders you'll find the places where the caches are being generated. Presumably they're not being invalidated properly.

[2015-10-24 16:47] nrolland opened #669 "logging"
If we had

[code]

then we could trace all the actions, whereas now we only have

[code]

so that functions using m only can't be traced

[2015-10-24 18:44] DanielG commented on #669
I don't think I understand what you mean, can you give a more concrete example of what you want to achieve?

[2015-10-24 20:25] nrolland commented on #669
If we want to log the choice of cabal VS stack install for instance, as mentioned here

https://github.com/kazu-yamamoto/ghc-mod/issues/623

then we have to add a log call in cradle.hs

[code]

But m does not support it.

we could if we changed the signature to

[code]

but that constraint bubbles up to the top until   `runGhcModT` AFAI can tell
please correct me if I am wrong

[2015-10-25 18:12] nrolland opened #670 "silent override to stack"
What is the rationale to override stack ?
Given that some tools might unfortunately generate `dist` directory, I constantly hit that, and I suspect others too

[code]

What are the scenarios where one would want to use both cabal and Stack ?

How can we get some feedback for that override decision ?

[2015-10-26 16:54] DanielG commented on #670
Well we weren't aware of tools other than `cabal configure` generating `dist/` so it didn't seem like such a big deal at the time.

The scenario is quite a common one: project wants to support stack but project member needs to use `cabal` directly because developing against stackage is too restrictive.

I'm not sure how to resolve this properly, open to suggestions :3

[2015-10-26 17:17] DanielG commented on #669
Hmm I suppose we could do that, GhcModT has way too many things in it anyways.

On the other hand changing the constraints on our main entry point might be a bit overkill when we could just save the fact that the override is active in Cradle. (don't actually do that)

Actually I think you could inject whatever findCradle logged into the logging context the same way as hoistGhcModT so then the cons

[2015-10-26 17:24] DanielG commented on #655
Sounds interesting. I like the idea of having all configuration options available in an increasingly user facing location and having those being closer to the user (config file, env) able to override frontend facing commandline options.

[2015-10-27 08:11] nrolland commented on #670
If it does not serve a clear scenario, while there are clear downside, I'd suggest we remove this.

##

I did so in a private branch and recompiled ghc-mod, and I am very satisfied with this.
But that's just my use of things, we should probably have a way to query the user base to know who uses what, what pb they face etc..

polls or automatic reporting of errors would give some ideas

nb : better

[2015-10-27 08:15] nrolland commented on #669
yes, on a second thought I was also thinking that raising to top level is an overkill, the only (not satisfying) reason to do that would be to sidestep the daunting GhcModtT hierarchy.

I will have a look at hoistGhcModT

[2015-10-27 08:29] nrolland commented on #655
absolutely agree with that. the more gets surfaced out the better it is.

It pins down behavior and gives more determinism,
A "smart" setting can still remain, although the less smart the better

[2015-10-30 18:50] DanielG opened #673 "Make cannot satisfy package messages more helpful"
We should be able to look for package-dbs that might contain packages that cannot be satisfied. Also this seems to be caused by GHC version conflicts.

[2015-10-31 12:18] nrolland commented on #673
I have seen many many users having this message in different circumstances. but it seems that they just accept and give up.. so that would be a good idea.

a systematic collect of errors would be awesome to know what are the most pressing needs.
sometimes small things we might not think of are effectively posing the biggest pb

[2015-10-31 16:12] jdreaver commented on #648
I'm experiencing the same thing. Did you ever find a fix?

[2015-10-31 22:00] nrolland commented on #673
with the ghc-mod for ghcjs, I have `<command line>: cannot satisfy -package-id aeson-0.9.0.1-18aa0b80940b48ed7f17b22f32a24d4f    (use -v for more information)`  and not a  clue what's wrong...

[2015-10-31 22:11] DanielG commented on #673
We just pass whatever -package flags Cabal comes up with to GHC so you'll want to start debugging by looking at `dist/setup-config`, `cabal-helper-wrapper . dist print-lbi --human | head -n1 | ppsh` is your friend. cabal-helper-wrapper is installed in $libexec, ppsh is part of the `pretty-show` package.

[2015-10-31 22:37] nrolland commented on #673
so much info, will parse that later

##

for reference to stackers, the command was, in my ghcjs project
`/Users/nrolland/Sync/clones/cabal-helper-0.6.1.0/.stack-work/dist/x86_64-osx/Cabal-1.22.4.0/build/cabal-helper-wrapper/cabal-helper-wrapper . .stack-work/dist/x86_64-osx/Cabal-1.22.4.0 print-lbi --human | head -n1 | push`

##

and for getting verbose information

`ghc-mod -v7 --ghcOpt=-v7 chec

[2015-11-01 16:00] gracjan commented on #638
I'd like to add one more point of view to the discussion.

Many companies use AGPL as part of their dual-licensing business model: 'AGPL or commercial license'. Their whole business model relies on the broadest possible interpretation of AGPL, basically pay us or open source everything you have. This it not what AGPL says but this threat is good enough to ban all discussions with such companies.

[2015-11-01 18:26] wolftune commented on #638
@gracjan that framing is a bit overblown. That business model does _not_ rely on a broad interpretation of AGPL. For example, a forum software that is AGPL/proprietary dual-licensed would be simply saying either (A) "if you want to make a proprietary _derivative_ of this forum software, you'll need our proprietary license" or (B) "we already have a proprietary version, and if you want those featur

[2015-11-01 19:00] gracjan commented on #638
@wolftune: I do not have any questions regarding AGPL. I've read how RethinkDB guys explain AGPL in context of RethinkDB and it is prefectly reasonable.

I just mention that there are companies that try annoying shenanigans, unfounded, but real.

If legal risk is not real in your book, then I do not know what is.

[2015-11-01 19:08] wolftune commented on #638
@gracjan _maybe_ the legal risk is real in the same way that absolutely insane patent troll legal risk is real (i.e. real but totally illegitimate)— do you have a single example of any actual situation?

I'm concerned mainly about your implication that sounds like "some bad actor uses X illegitimately to threaten people baselessly, but there are real legal costs involved, so that means we should r

[2015-11-01 19:33] gracjan commented on #638
If the confusion around AGPL was not real then we would not have companies banning AGPL outright. Note that some of these companies are pretty big and have pretty good lawyers. It is hard to imagine that they were not able to understand a point in a license when a couple of programmers in this thread claim with certainty that they fully grasp all consequences of it.

I do have an example of an att

[2015-11-01 19:50] luntain opened #675 "Confused about --map-file"
I am trying to run ghc-mod check on a copy of a file. If I run ghc-mod check on X.hs, it knows about the packages from the cabal file. But when I ghc-mod check X_copy.hs it complains about missing modules, which is expected, X_copy.hs does not appear in the cabal file. Now, I though ghc-mod check --map-file "X.hs=X_copy.hs" X.hs, or some variant of it would solve it. This however seems to have no

[2015-11-01 19:54] wolftune commented on #638
That's not a logically sound assertion neither inductively or deductively. That sounds like you're saying companies never make fear-based, FUD-based decisions. Anyway, the reason Google bans AGPL is because they are _politically_ opposed to it. They don't ban it because they are freaked out about the consequences of a Google employee using ghc-mod or whatever. Google wants AGPL to die because the

[2015-11-01 21:43] DanielG commented on #675
@lierdakil any idea what might be going wrong?

[2015-11-01 21:55] DanielG commented on #648
Usually this happens when the filenames don't match IIRC. Might that be the case?

[2015-11-02 07:31] lierdakil commented on #675
One thing that immediately comes to mind is need to specify first path
_from project root_. Also try to specify full path to second file.
E.g. --map-file ”src/Module/Path.hs=/path/copy.hs”

Otherwise, I'm not sure.
2 нояб. 2015 г. 0:43 пользователь "Daniel Gröber" notifications@github.com
написал:

[2015-11-02 09:05] luntain commented on #675
It does not work. Here is a repro:

[code]

The last check passes because it ignored the --map-file argument, it effectively checks M.hs (I think). It should print an error for System.Directory import in copy.hs

[2015-11-02 09:32] lierdakil commented on #675
Should work, so I'm baffled. I'm away till Nov 5, so I won't be able to
take a look for a bit.
2 нояб. 2015 г. 12:05 пользователь "Kamil Dworakowski" <
notifications@github.com> написал:

[2015-11-02 15:46] jdreaver commented on #648
When you say filenames don't match, do you mean file name and module name?

I tried `ghc-mod` in a file called `Temp.hs`, but I started the file with `module Main where` because it is meant to be an executable.

Here is what I put in `/tmp/Test.hs`:

[code]

Here is what `ghc-mod check` reports on the command line:

[code]

However, the red squiggly line is in the top left.

[2015-11-03 09:37] nrolland opened #676 "make a 'uservoice' / feedback channel for ghc-mod"
It seems that it would be useful to have a place to collect votes for features, as indication of what is important for the users. maybe a twitter account, now that votes are available ?

[2015-11-03 21:23] JPMoresmau opened #678 "No instance nor default method for class operation put (cereal 0.5)"
I run ghc-mod at the root of a haskell project, I get:

[code]

I have 5.4
    ghc-mod --version
    ghc-mod version 5.4.0.0 compiled by GHC 7.10.1

I have another 5.4.0.0 install in another directory (same ghc, different sandbox) that works. The one that works has cereal 0.4.1.1 installed, the one that doesn't cereal-0.5.0.0. I realize this is a very recent version uploaded yesterday, is ghc-mod

[2015-11-04 17:05] Cynede commented on #678
what if we will

[code]

really please help me with that

[2015-11-04 22:02] DanielG commented on #678
Serialize has default instances via GHC.Generics, IIRC you just need to add a deriving clause for that:

[code]

[2015-11-05 08:24] Cynede commented on #678
It feels more complicated since `CabalHelper.Programs` already deriving Generic

[2015-11-05 11:46] DanielG commented on #678
Looking at the diff cereal-0.4.1.1..cereal-0.5.0.0, I can't see any changes to relevant class instances so I'm not sure what's going on.

[2015-11-05 13:03] lierdakil commented on #675
Ok, so I figured out what goes wrong here. `--map-file` should be defined _before_ actual command, since it's a "global" option.

[code]

works as expected

@DanielG, I wonder why argument parser doesn't complain about unknown option or something.

[2015-11-05 16:30] Tritlo opened #679 "Not in scope exception while refining."
Hey, I'm trying to figure out how ghc-mod works, and I get an error for a case which I believe should work.

I have a file named "test.hs" with

[code]

but when I run

[code]

I get

[code]

I have:

[code]

[2015-11-05 17:25] DanielG commented on #679
Sorry but refining and related features are in limbo until we either integrate mote instead or find someone to maintain them. I could never get them to work properly either and they're broken with the latest GHC AFAIK.

[2015-11-05 19:16] shengc opened #680 "ghc-mod err on type check"
[code]

the error comes from here,

http://hackage.haskell.org/package/ghc-mod-5.4.0.0/docs/src/Language-Haskell-GhcMod-Types.html

[code]

is there any suggested fix on this ?

[2015-11-05 19:21] DanielG commented on #680
Duplicate: https://github.com/kazu-yamamoto/ghc-mod/issues/678.

Basically use `cereal < 0.5`. Something like `cabal install ghc-mod --constraint "cereal < 0.5"` should do the trick.

[2015-11-05 19:21] #680 closed, assigned to nobody

[2015-11-05 19:28] shengc commented on #680
Thanks a lot - that works!

[2015-11-05 22:47] DanielG commented on #675
Argh sorry I should've seen that. Yeah it's a known issue pending a rewrite using optparse-applicative: https://github.com/kazu-yamamoto/ghc-mod/pull/608

[2015-11-07 20:07] DanielG commented on #648
You'll want to start looking somewhere around here: https://github.com/kazu-yamamoto/ghc-mod/blob/master/elisp/ghc-check.el#L156

That's where the overlays are constructed. If you trace through that you should be able to figure out why `(file-equal-p ofile file)` doesn't hold, which is what I meant by "file names don't match". IIRC that's the bit that decides whether the info is for the current bu

[2015-11-07 20:45] DanielG commented on #676
I like the idea but I'm not sure twitter is the most accessible forum for this sort of thing. Ideally one would have a presence on like all of the social networks but that's a rather unfeasible amount of work.

I am a bit dissatisfied with GH issues as things stand tough at least for discussions. Generally I prefer mailing lists for this sort of thing but I'm not sure anyone would use it even if I

[2015-11-08 11:39] PierreR commented on #628
:+1:
`M-t` does not add the function signature for me either. I am also using stack so that might be related.

I am using the latest master e278e1414ded that I have built using `stack`.

Extra info:
- `c-c c-t` (ghc-show-type) does work fine
- `M-t` does insert "module Foo where" on a brand new file.

[2015-11-08 15:05] moodmosaic commented on #680
That works for me as well :+1:

[2015-11-08 16:48] d12frosted commented on #628
:+1: the same here

[2015-11-10 09:38] agrafix opened #682 "Provide more debug information for 'phase `C pre-processor' failed (exitcode = 1)'"
Using ghc-mod fails:

[code]

Running the same thing with `-v7` does not provide any more information why the C pre-processor failed. Is there a different switch to debug this?

[2015-11-10 10:03] DanielG commented on #682
You have to also enable verbose output in GHC using `-v` so:

[code]

[2015-11-10 12:46] agrafix commented on #682
That still does not help:

[code]

[2015-11-10 20:41] DanielG commented on #682
Oh it's `-g-v3` acutally for the full output.

[2015-11-11 04:37] chamini2 commented on #678
I'm getting this issue using [atom-haskell/haskell-ghc-mod](https://github.com/atom-haskell/haskell-ghc-mod)

[2015-11-11 13:25] ciez commented on #678
ghc-mod list
throws
ghc-mod: Language/Haskell/GhcMod/Types.hs:404:10-39: No instance nor default method for class operation get

[2015-11-11 13:47] DanielG commented on #678
Please reinstall ghc-mod after running `cabal update`, I uploaded updated cabal metadata that includes a version constraint for cereal.

[2015-11-11 13:54] ciez commented on #678
just did
cabal update
cabal --no-require-sandbox --reinstall install ghc-mod

ghc-mod-5.4.0.0 (reinstall) (changes: async-2.0.2 added)

same error:
ghc-mod: Language/Haskell/GhcMod/Types.hs:404:10-39: No instance nor default method for class operation get

[2015-11-11 13:55] DanielG commented on #678
How about what I suggested here: https://github.com/kazu-yamamoto/ghc-mod/issues/680#issuecomment-154161380 ?

[2015-11-11 13:55] ciez commented on #678
0.5.0.0 cereal is installed..

[2015-11-11 13:56] DanielG commented on #678
Argh looks like I got the constraint wrong: https://github.com/kazu-yamamoto/ghc-mod/blob/master/ghc-mod.cabal#L150 I'll upload another cabal metadata revision later.

[2015-11-11 13:57] DanielG commented on #678
@ciez what do you mean it's not installed?

[2015-11-11 13:59] ciez commented on #678
I was checking from a sandboxed dir where there is no cereal.

.cabal dir where ghc-mod is installed does show cereal 5.0.0
reinstalling ghc-mod with cereal constraint worked.

ta, Daniel

[2015-11-11 22:58] PierreR commented on #590
@parsonsmatt  Did you open a separate issue for this because I have the same problem (using stack)

[2015-11-12 07:19] agrafix commented on #682
Thank you, it now seems to work. I was missing include-dir in the cabal file...

[2015-11-12 07:19] #682 closed, assigned to nobody

[2015-11-12 12:07] DanielG commented on #678
I've uploaded the updated metadata now so it should work for now. I would appreciate if anyone would look into what's really going on here though.

[2015-11-12 12:09] DanielG commented on #675
@luntain does that answer your question?

[2015-11-12 12:37] luntain commented on #675
yes, the param position was the issue

[2015-11-12 13:32] #675 closed, assigned to nobody

[2015-11-12 13:58] DanielG opened #683 "Going from not having a sandbox to having one confuses legacy-interactive"
Not 100% sure what's going on here but it feels like the in-memory cache is taking precedence over the one on disk since there was a weird back and forth between Emacs and `ghc-mod debug` going on.

[2015-11-14 00:30] PierreR commented on #607
:+1:
I have experienced the exact same problem and needed to remove `.stack-work` to have ghc-mod working again (stack build was fine all along)
@k-bx thanks for the provided tips

[2015-11-18 03:03] hatashiro commented on #635
Any update on this? I have a same issue when using with `stack`.

[2015-11-18 12:16] expipiplus1 commented on #635
@noraesae, running `cabal configure --enable-tests` will get ghc-mod using the cabal files again. As far as I can tell there's no way to get this working using just stack.

[2015-11-18 12:29] DanielG commented on #635
How does stack even handle tests? The problem is that in cabal there is a flag to turn them on as @expipiplus1 said but how does stack decide to enable tests in the generated configuration? My guess was always just doing `stack test` once and if it does it kinda like cabal it would have to then enable test suites implicitly but no-one ever confirmed that to work so my thinking now is maybe stack g

[2015-11-18 21:11] #683 closed, assigned to nobody

[2015-11-18 21:19] DanielG commented on #678
I've replaced cereal with binary now, really should've been doing this from the beginning since it comes with GHC. Anyways this should be fixed now. Just remember to `rm -r dist/ || rm -r .stack-work` since the caches won't get invalidated in the git version because the version number hasn't changed yet.

[2015-11-19 12:47] #663 closed, assigned to nobody

[2015-11-19 12:51] DanielG commented on #635
Okay so it looks like this comes down to ghc-mod configuring a stack project using cabal-install when it shouldn't and then sticking to cabal-install once dist/setup-config exists. I managed to get it to work by deleting `dist/`, doing `stack test` and then running ghc-mod. I can't reproduce the case where it generates `dist/` even though we're in a stack project :/

[2015-11-19 12:53] DanielG commented on #635
In Emacs you can enable verbose logging: `(setq ghc-debug-options '("-v7"))` if someone can reproduce this the contents of the `*GHC Error*` buffer would be super helpful.

[2015-11-19 23:11] veniversum commented on #648
When debugging in EDebug, it steps directly from [Line 157](https://github.com/kazu-yamamoto/ghc-mod/blob/master/elisp/ghc-check.el#L157) to the end of [Line 201](https://github.com/kazu-yamamoto/ghc-mod/blob/master/elisp/ghc-check.el#L201). Is that expected behavior?

[2015-11-20 22:26] DanielG opened #684 "Adding stuff to default-extensions doesn't seem to get picked up"
Another caching problem probably, gah.

[2015-11-21 17:38] yihuang opened #685 "High memory usage of `ghc-mod check`"
I try to run `ghc-mod check` on this file https://github.com/yihuang/ghcjs/blob/058a3f1a9724a436f3e627d8a20f4ba03c7fc21c/src-bin/Boot.hs

The memory usage of the process ramp up to more than 1.5G, and because it's a vm box with only 1G memory, the swap starts to work and it runs forever.

Is this normal, or it's a sign of space leak?

The version I was using is `ghc-mod version 5.4.0.0 compiled by

[2015-11-21 17:45] yihuang commented on #685
I upgrade the machine to use 2G memory, it finally finished.

[2015-11-22 12:36] DanielG commented on #685
Try to load it in ghci and see what the memory usage is then, if it's significantly different it's a ghc-mod problem.

[2015-11-22 21:00] DanielG commented on #648
Yup: if `(buffer-live-p buf)` is nil.

[code]

[2015-11-23 07:09] yihuang commented on #685
Simply start `stack ghci` consume the same amount of memory, load the module itself add only a tiny extra.

[2015-11-25 18:32] mpickering opened #686 "Build broken on <= 7.6"
Caused by https://github.com/kazu-yamamoto/ghc-mod/commit/b923e2662dd038f0798591575cb2f11e46c9fc64

`decodeOrFail` only exists in versions later than `0.7`.

[2015-11-25 23:03] DanielG commented on #686
My bad, I was waiting for the travis build to tell me whats broken with the older GHCs and then forgot about if of course ;)

Turns out supporting older binary versions is a pain as always with things bundled with GHC, I've managed to keep the pain relatively low though. Just had to copy one module (the generics stuff) and some do some CPP.

I can't get the tests to pass with this on my local mach

[2015-11-26 13:53] #684 closed, assigned to nobody

[2015-11-26 13:53] DanielG commented on #686
Should be fixed now: https://github.com/kazu-yamamoto/ghc-mod/commit/604f2c18b05023c1343ef1872832c7f164dedc3e

[2015-11-26 13:53] #686 closed, assigned to nobody

[2015-11-26 15:16] DanielG commented on #685
The same amount of memory as ghc-mod? So that's fine then, no? There isn't really much I can do about GHC's large memory consumption.

[2015-11-26 15:18] DanielG commented on #678
Can you guys please test and confirm this actually works so I can close this issue?

[2015-11-26 15:35] DanielG commented on #673
This should take care of the majority of cases: https://github.com/kazu-yamamoto/ghc-mod/pull/687

[2015-11-26 15:43] DanielG commented on #668
I have a feeling this should have been fixed by a combination of https://github.com/kazu-yamamoto/ghc-mod/commit/8568a6785c8e87df7f021276fdb45d76d4df1e57 and https://github.com/kazu-yamamoto/ghc-mod/commit/a12a7fabc085c1cd66f7f1b30f0a328021ac751d. @deflexor can you try using master for a while to see if it happens again?

AFAIK the problem was that ghc-modi's in-memory cache was not being invalida

[2015-11-26 15:53] DanielG commented on #668
@deflexor Oh and don't forget to remove all the caches, we're using `binary` instead of `cereal` now so the format is different. Once we release the next version this will be fine as the caching code checks the ghc-mod version but for now it'll appear the same.

Just removing `dist/` or `.stack-work/` is the easiest way to accomplish that btw.

[2015-11-26 16:29] JPMoresmau commented on #678
Done a clean build on a new install, no issue. No cereal in the dependency list, so I guess we're good!

[2015-11-26 16:31] deflexor commented on #668
Checked it with github version of `ghc-mod` and this behaviour is not repeating anymore. Thanks.

[2015-11-26 16:31] #668 closed, assigned to nobody

[2015-11-26 17:07] DanielG commented on #678
Well yeah cereal is gone but you never know if I broke something while I was ripping that out ;)

[2015-11-26 17:08] #678 closed, assigned to nobody

[2015-11-27 00:39] yihuang commented on #685
Yeah, I guess so.

[2015-11-27 00:39] #685 closed, assigned to nobody

[2015-11-27 11:58] nrolland opened #688 "support stack script mode"
It would be nice to have support for stack script mode, where a haskell file gets turned into a runable script with no other file :

https://github.com/commercialhaskell/stack/blob/master/doc/GUIDE.md#ghcrunghc

[2015-11-27 13:30] DanielG commented on #688
I've thought about this a while ago, I remember coming to the conclusion that it would be easy to implement but looking at it now I can't see an easy way to get the options Stack passes to runghc.

`stack runghc --with-ghc=echo` doesn't work because runghc doesn't have the `--with-ghc` option unlike `stack ghci --with-ghc=echo` which seems to work, except that doesn't seem to honor `--package=foo`

[2015-11-27 13:33] DanielG commented on #670
Fixed by #671

[2015-11-27 13:33] #670 closed, assigned to nobody

[2015-11-27 13:37] alanz commented on #670
So if I have a stack.yaml file but want to build via cabal, what will ghc-mod do?

[2015-11-27 14:02] nrolland commented on #670
it does not change the behavior, what has been fixed is the fact that it's silent

[2015-11-27 20:15] DanielG opened #689 "gmAppendLog causes doubling of severity prefix"
`Warning: Warning: 'dist/setup-config' exists, ignoring Stack and using cabal-install instead.`

whoops

[2015-11-28 12:44] nrolland commented on #669
closed by
https://github.com/kazu-yamamoto/ghc-mod/pull/671

[2015-11-28 12:44] #669 closed, assigned to nobody

[2015-12-02 04:06] lierdakil commented on #613
I've recently run into this (https://github.com/atom-haskell/ide-haskell/issues/132). I think problem is that ghc-mod tires to initialize whole environment when all it needs is just output root dir. Besides, if it's run in non-root dir, it would likely fail with said initialization anyway.

[2015-12-02 15:04] DanielG commented on #613
Well this is a PATH+stack issue really. It just means that the PATH you have the ghc with the right version on isn't visible in the environment ghc-mod is started in in @kazu-yamamoto's case that's Emacs vs. Shell probably (I'd say put it in `.profile` but that doesn't exist under OS X, gah) and in your case I dunno but check PATH anyways.

[2015-12-02 15:06] lierdakil commented on #613
Funny thing is, I don't want to use stack, and if run from root directory, ghc-mod picks up that I don't want to use it. From child directory it doesn't find `dist/` and assumes I want to use stack, while all I want is get root directory. Duh.

[2015-12-02 15:09] alanz commented on #613
Maybe we should pass in two parameters, the desired root and the file. That way no cwd is needed.

[2015-12-02 15:14] #616 closed, assigned to nobody

[2015-12-02 15:16] DanielG commented on #689
@nrolland would you mind having a look I'm not sure where this is coming from.

[2015-12-02 15:21] lierdakil commented on #653
@DanielG, won't copying whole project directory incur a noticeable performance penalty though? Or am I misreading that? While intended use of map-file assumes only a couple files are mapped (and copied), larger projects can have several hundred of source files total.

[2015-12-02 15:24] alanz commented on #653
I understand the copy to be a once off thing, then the mapped file replaces the original in the copy, when it happens. So there is still the same performance as now, once the initial copy is done

[2015-12-02 15:24] DanielG commented on #653
Not the whole project directory just the skeleton, (i.e. the directories) and not even that you only need the directories leading up to the file(s) you want to redirect! So if the file is A/B/C.hs you only need to do the equivalent of `mkdir -p A/B` and copy C.hs there.

[2015-12-02 15:25] alanz commented on #653
ok, like the autogen stuff

[2015-12-02 15:26] DanielG commented on #653
yeah exactly like that. Given an appropriate setup for the search path that will override the files we want to override while keeping the paths relative.

[2015-12-02 15:27] lierdakil commented on #653
Okay, sounds reasonable.

[2015-12-02 15:28] alanz commented on #653
And eventually we should let map-file send a diff

[2015-12-02 15:33] DanielG commented on #653
Bad news everyone :/

I just tried this out and GHC prefixes the search path item it found a module in to log messages about it.

[2015-12-02 15:36] alanz commented on #653
This is where this kind of approach starts getting useful: https://github.com/haskell/haskell-ide-engine/blob/master/hie-plugin-api/Haskell/Ide/Engine/SemanticTypes.hs#L23

[2015-12-02 15:38] DanielG commented on #653
Yeah I wish ghc exposed its log messages as data structures but alas it doesn't and it would be an enormous amount of work to change that AFAICT.

[2015-12-02 15:41] alanz commented on #653
There is some effort starting to happen around this. See https://ghc.haskell.org/trac/ghc/ticket/8809

[2015-12-02 15:45] DanielG commented on #653
Holy shit that's awesome. Adding this to the pretty printer seems like a really good idea.

[2015-12-02 15:45] alanz commented on #653
We are slowly getting the IDE story in hand, from GHC all the way through

[2015-12-03 00:21] DanielG opened #691 "Only print GmWarnings once"
A `Data.Set` of already presented warnings should work also add a flag to always warn.

[2015-12-03 09:53] PierreR commented on #609
:+1:
I have the same error message whenever I start to write multiple test files on a project. There are indeed multiple buffers with a Main module loaded at that point.

I am using the latest from master bff86be69f556f8 with the elisp file (ghc-20151013.1219)  coming from melpa.

[2015-12-04 00:12] DanielG opened #692 "Temporary file names for map-file show up in some places"
[code]

[2015-12-04 00:36] DanielG commented on #613
@lierdakil oh, that's pretty messed up O_O.

[2015-12-04 00:38] DanielG commented on #609
@PierreR Give this branch a spin: #693 I've been carrying that patch locally for a while now, cleaned it up a bit.

[2015-12-06 18:52] DanielG commented on #691
The stack vs cabal-install warning only shows up on startup anyways so it's fine for now I guess

[2015-12-06 18:53] DanielG opened #695 "Caching still seems broken with stack"
I got some "could not statisfy package" error that went away only by deleting `.stack-work`.

[2015-12-07 19:59] lierdakil opened #696 "Better library interface?"
So... I've been thinking about improving interactive interface, and I've got a question.

Are there any plans to make library interface more typeful? As it is, it mostly returns `String`s and `[String]`s. While this is ok for raw terminal output, re-parsing e.g. error messages back into severity, point and message seems more than a bit weird, does it not? Besides, things like `(Int, Int, Int, Int)

[2015-12-07 20:11] alanz commented on #696
I would like to start seeing these kind of types coming back: https://github.com/haskell/haskell-ide-engine/blob/master/hie-plugin-api/Haskell/Ide/Engine/SemanticTypes.hs#L23

See also https://ghc.haskell.org/trac/ghc/ticket/8809, which will hopefully result in properly typed errors in time.

Also https://phabricator.haskell.org/D1240#46788

[2015-12-07 20:18] lierdakil commented on #696
@alanz, in all honesty I would prefer `SourcePoint { spLine :: Int, spCol :: Int }` to `(Int, Int)`. There are pros and cons to both approaches though.

[2015-12-07 20:20] alanz commented on #696
I am fine with TypeResult being updated to that, main point is that we are already starting to impose structure on results from ghc-mod, makes more sense for that to happen inside ghc-mod. For types that make sense, as you want.

[2015-12-07 20:54] DanielG commented on #696
@lierdakil you have to think about where all these `String`s are coming from. All ghc-mod does (for `check` for example) is intercept ghc's log messages throught `withLogger` and then spit that out later. So we just don't have the semantic information readily at hand.

Now of course we could parse ghc's log messages and expose a more useful representation but I think given that GHC HQ is working/t

[2015-12-07 20:55] DanielG commented on #696
`type` of course is another matter entirely since we have a full `Type` AST in that case. If you want to clean that up or expose more of it feel free.

[2015-12-07 20:57] alanz commented on #696
If we coordinate things right, we can start the types off here, and migrate them into GHC in time, when that work actually happens.

[2015-12-07 21:02] lierdakil commented on #696
@DanielG, at the very least GHC returns `SrcSpan` and `Severity` separate from actual message, does it not?

[2015-12-09 21:06] DanielG commented on #696
Yeah you're right of course. Looks like I didn't read your question properly ;)

Anyways if you (or anyone else) feels like cleaning that up feel free.

[2015-12-09 22:46] DanielG commented on #653
Okay so I have another idea on how to make this less messy (but equally hacky).

1) Let's use a subdirectory in `dist/` for the redirected temp files instead of `/tmp` this should make the paths a lot less ugly (See https://github.com/kazu-yamamoto/ghc-mod/issues/692, this is just unfashionable)
2) Don't try to rewrite the paths in the error messages we spit out, just leave them relative to projec

[2015-12-09 22:47] DanielG commented on #653
Symlinks on windows might be a bit tricky but AFAIK NTFS supports them just fine but I'm not sure.

[2015-12-09 22:50] lierdakil commented on #653
File path equality in itself is usually implemented via pure functions, not with IO actions. So this would be extremely brittle, I think.

[2015-12-09 22:52] DanielG commented on #653
That's almost never the right thing to do though, I'd consider any IDE that doesn't do that right to have a bug. We had this problem in the Emacs frontend before and then switched to `file-equal-p` which takes symlinks into account.

Can you see what happens when you have a file and a symlink to that file with a different name and open them in atom?

[2015-12-09 22:55] DanielG commented on #653
If you want to use pure comparison you have to do something equivalent to `canonicalizePath` or `readlink -f` on the path first btw.

[2015-12-09 23:04] lierdakil commented on #653
Atom itself follows symlinks, that much I can say without looking. But with packages, this depends
For example, ide-haskell uses pure functions, since both ghc-mod and Atom canionicalize paths internally. Doesn't make much sense to slow down things with IO when it's not needed...

[2015-12-09 23:08] lierdakil commented on #653
In any case, even if equality is implemented with symlink resolution, it doesn't change the fact that ghc-mod will prefix paths with `dist/gm-tmp/` in its output, and editor will have to do additional work to fix those. This doesn't seem good.

[2015-12-09 23:17] DanielG commented on #653
My assumptions here are that there are three cases in which the paths in ghc-mod's output are relevant:

1) When users have to look at them (References to where a binder was defined in type errors, see https://github.com/kazu-yamamoto/ghc-mod/issues/692 for example)
2) Editors parsing the paths
2.1) .. to highlight stuff in the current file (like the native ghc.el)
2.2) .. to jump to a mentioned f

[2015-12-09 23:29] DanielG opened #698 "optparse: -v<N> broken"
@lierdakil

[code]

[2015-12-09 23:32] lierdakil commented on #698
Note that I honestly warned about that. See CLI compatibility issue (2) in
PR.
10 Дек 2015 г. 2:29 пользователь "Daniel Gröber" notifications@github.com
написал:

[2015-12-09 23:34] lierdakil commented on #698
I think you can use -vvv for the same effect as -v7. You need optparse
0.12.\* for that syntax to work though.
10 Дек 2015 г. 2:29 пользователь "Daniel Gröber" notifications@github.com
написал:

[2015-12-09 23:35] DanielG commented on #698
I totally overlooked that. That's fine then :)

[2015-12-09 23:38] DanielG commented on #698
Oh so with 0.12 we can do `-v7`? Rats stackage still has 0.11 though not sure about nightly.

[2015-12-09 23:40] lierdakil commented on #698
No, with 0.12 we can -vvv instead of -v -v -v.
10 Дек 2015 г. 2:38 пользователь "Daniel Gröber" notifications@github.com
написал:

[2015-12-09 23:44] DanielG commented on #698
Ah ok, pitty. Maybe we should still swap the long/short options thought or even remove one of them. I use set- a lot more than increase-loglevel. Stuff like -vvvvvv is silly anyways I just supported it with the old cmdline parser because it was easy ;)

[2015-12-09 23:48] lierdakil commented on #698
Default loglevel is 4, and max is 7, so it's no more than -vvv actually. I
counted :)
I don't mind dropping increase- if that makes sense. But it's pretty
typical syntax for posix stuff.
10 Дек 2015 г. 2:44 пользователь "Daniel Gröber" notifications@github.com
написал:

[2015-12-09 23:50] DanielG commented on #698
Ah that's right `-vvv` isn't so bad. If we expose the log levels for `--verbosity` as names rather than numbers this might actually make sense.

[2015-12-11 14:28] mwotton commented on #655
This would be helpful, I think. I have found that the only thing that seems to work when ghc-mod gets wedged on "hidden-package hspec" stuff when checking test files is deleting .stack-work/dist and not having stack build --filewatch running in the background, which is a little aggravating.

[code]

[2015-12-11 16:14] nrolland commented on #655
@mwotton fwiw I have compiled my own version of ghc-mod which defaults to stack in the meantime https://github.com/nrolland/ghc-mod/tree/nostackoverride

it should be as easy as `stack install` to use it

[2015-12-11 16:36] mwotton commented on #655
@nrolland you deadset legend :) thanks, that's really helpful.

[2015-12-11 16:46] DanielG commented on #655
@mwotton That's an unrelated bug actually, I never managed to reproduce it when I wanted it to happen could you open another bug report and record any clues as to how this usually happens so I can fix it for good?

[2015-12-11 16:53] mwotton commented on #655
@DanielG i'll dump what i have. It's frustrating because it's intermittent.

[2015-12-11 16:54] DanielG commented on #655
I know I've run into it myself but I don't use stack regularly enough to get the info I need to reproduce the problem.

[2015-12-11 16:54] mwotton commented on #655
yeah, but i got it pre-stack too. it's confusing.

[2015-12-11 16:58] DanielG commented on #655
Oh that problem has been fixed in master AFAIK, but stack still has it (or something simmilar) for some reason.

[2015-12-11 17:00] mwotton opened #699 "ghc-mod seems to get confused by test stanzas"
Not sure this is actually enough to diagnose, but here:

elided spec file:

[code]

hermes.cabal

[code]

MandrillResponse

[code]

with a window running

[code]

with this setup, ghc-mod will _sometimes_ give this error

[code]

@nrolland 's nostackoverride branch does not exhibit the behaviour afaict.

[2015-12-11 19:51] DanielG commented on #699
Next time it happens could you stash the stuff in .stack-work/ somewhere before deleting it and upload that somewhere?

[2015-12-13 17:07] PierreR opened #700 "Typing "par" or "in" makes emacs hang out"
Whenever I start typing "in", "par", "Get" at the beginning of a word, ghc-mod will cause emacs to hang out while flooding *GHC error \* buffer with many of:

[code]

Very annoying ;-)

I am using e7a186a1 with ghc-7.10.3

[2015-12-14 12:38] PierreR commented on #700
Actually this is happening randomly pretty frequently even while writing comment.

It makes `ghc-mod` such a pain to work with that I will have to disable it if I can't revert to a version that works correctly.

It is probably a recent regression as it started after upgrading to the latest commit. I will try to identify the commit that causes it.

[2015-12-14 16:05] DanielG commented on #700
Sounds like a problem with `company-ghc` and ghc-mod master to me if you're using that. ghc.el doesn't do anything on key events so I'd be very surprised if there's something wrong there.

@iquiw any ideas?

[2015-12-14 16:06] DanielG commented on #700
Oh actually this might have something to do with the recent commandline parser rewrite too, see https://github.com/kazu-yamamoto/ghc-mod/pull/694.

[2015-12-14 16:42] PierreR commented on #700
It's probably not a problem with `company-ghc` because I have explicitly disabled it while waiting for a fix for https://github.com/iquiw/company-ghc/issues/23

I do use the latest commit from `ghc-mod`. Reverting to an oldest commit (16c69b2) does fix it.

As a aside on 16c69b2 I have now other messages alike `EXCEPTION: browse:
           module ‘Puppet.Parser.Types’ is defined in multiple files

[2015-12-15 20:28] DanielG commented on #700
Can you try using a clean config which only has ghc-mod and haskell-mode. I can't reproduce this at all..

[2015-12-16 16:23] kiripon opened #702 "legacy-interactive: `browse` option parsing broken"
ghc-mod-5.4.0.0 does not accept options for subcommand.
(My ghc-mod version is 5.4.0.0 and it is compiled by GHC 7.10.3.)

[code]

The following output is 5.3.0.0

[code]

[2015-12-16 22:14] DanielG commented on #702
You seem to have the git-master version, the v5.4.0.0 from hackage still has that. We recently rewrote the commandline parser so I was expecting some breakage.

@lierdakil did you change anything in legacy-interactive to optparse? If not I'll look into it later this week.

[2015-12-16 22:18] DanielG commented on #700
You've probably run into this too: https://github.com/kazu-yamamoto/ghc-mod/issues/702

I don't know how I missed this being a cmdline parser issue ^_^

You still must have some other plugin that makes this happen on keypresses since plain ghc.el doesn't do anything like that (I'd still like to know which it is for future reference).

[2015-12-16 22:42] lierdakil commented on #702
Likely my fault. I'll try to take a look in a couple of days. Sorry about
that.

[2015-12-16 22:49] PierreR commented on #700
I am using `spacemacs` which comes with many plugins ... After double checking, I realized that I actually do use `company-ghc` (I forgot to remove it after an update). So contrarily to what I wrote a couple of days ago, it could well be triggered by `company-ghc`. Sorry about that.

[2015-12-16 22:58] PierreR commented on #700
closing as it is a duplicate of #702

[2015-12-16 22:58] #700 closed, assigned to nobody

[2015-12-17 14:25] nrolland commented on #689
we run twice once, and hand it back to the warning flow, so it's not surprising, I dont see any correction around that which would be less harmful than having warning printed twice..

[2015-12-17 14:39] nrolland commented on #607
I have the same here with message

[code]

how can stack succeed and not ghc-mod ? that's odd. is there another place where we switch to cabal mode ?

[2015-12-17 14:45] nrolland commented on #607
same after nuking .stack-work

[code]

[2015-12-17 14:58] nrolland commented on #607
I think my issue is linked to ghc-7.10.3, going from nightly-2015-12-16 (7.10.3) to nightly-2015-12-13 (7.10.2) fixed it.

[2015-12-18 03:54] codygman commented on #660
Is anyone working on this? It looks like a nice weekend (maybe less) project.

[2015-12-18 12:09] DanielG commented on #660
Actually I just tested this and it works even if you don't have a system wide ghc installed.

https://github.com/kazu-yamamoto/ghc-mod/blob/master/Language/Haskell/GhcMod/CabalHelper.hs#L123

`patchStackPrograms` looks on Stack's bin-path and uses the path to it's GHC instead.

@codygman are you getting the same error as well? It might be something I fixed in git so do try the version from master

[2015-12-20 03:55] lierdakil commented on #702
Okay, so I've run into a tiny problem with this. Since legacy interactive code doesn't allow escaping spaces in any way, I can either

1) go extremely redundant route and revert old parsing code for interactive mode
2) go extremely hackish and somewhat redundant route to try to keep some semblance of backwards-compatibility, while using optparse-applicative to parse interactive commands
3) add sup

[2015-12-21 16:25] Xandaros opened #704 "'sig' complains about missing binding"
As I understand it, `ghc-mod sig file line col` is supposed to generate some initial code to a function signature.
However, when I try it, all I get is

[code]

That binding it lacks is what it is supposed to create, isn't it?
If I create a binding for it, it actually works. But at that point, I could just use the binding I just added.

[2015-12-23 17:38] DanielG commented on #704
Sorry but `sig` is broken with recent versions of GHC but I'm not sure when it broke since we don't have anyone maintaining this functionality unfortunately. I hear some people are still using it successfully so I haven't removed it yet.

[2015-12-23 22:05] Xandaros commented on #704
Hmm, that is unfortunate. It seems like it would be rather handy, especially in conjunction with split.

Am I correct in assuming that the chance of it coming back is low?

[2015-12-23 22:07] DanielG commented on #704
Oh I have no intention of dropping that feature I'm planning to replace our implementation of the hole driven development stuff by [mote](https://github.com/imeckler/mote) at some point but no promises about the timeline.

[2015-12-24 19:18] Xandaros commented on #704
Oh, I didn't know about mote. I guess I'll just use that for now, then :P
Thanks for mentioning it. It doesn't have sig, but a lot of other juicy stuff :)

[2015-12-25 01:02] DanielG opened #705 "elisp: Support quoting file names sent to legacy-interactive to allow spaces in them"
#703 added support for quoted filenames, yey.

[2015-12-25 01:03] #702 closed, assigned to nobody

[2015-12-25 01:14] DanielG commented on #689
Could you point me to the code that's causing this, I can't seem to even find why this is happening :x

[2015-12-25 03:07] lierdakil commented on #705
Note that literal backslashes and double quotes should be backslash-escaped, and not only in filenames, but in symbols as well.

#703 also allows to directly backslash-escape space characters, although I'm not exactly sure it was a good idea.

One example where #703 breaks compatibility is `info` for `\\` operator. `\\` will be parsed as literal `\`.

[2015-12-25 07:57] nrolland commented on #689
In monad.hs we call runJournalT when we look for the cradle, and we get a
warning message if there is a dist directory.

We then add that message to the normal error flow.

I'll give you the reference when on a real computer.

On  Friday, December 25, 2015, Daniel Gröber notifications@github.com
wrote:

##

Nicolas Rolland
mobile : +33 6 62 88 42 92

[2015-12-26 19:52] ilyagr commented on #640
I have the same problem:

[code]

`stack test` works, but makes no difference to the subsequent behavior of `ghc-mod`.

Doing `stack install hspec-discover` fixes the first warning (the first two lines of output are no longer there), but not the others.

[2015-12-26 20:42] ilyagr commented on #640
Steps to reproduce from scratch:

[code]

[2015-12-26 22:51] DanielG commented on #705
Backslash escaping space seems like a bad idea due to the example you mention. Can you remove that bit? Having to backslash escape `"` is fine in my mind tough.

[2015-12-26 23:00] lierdakil commented on #705
Last example is not due to escaping spaces, but rather due to escaping backslashes themselves.

Consider getting `info` for operator `\\`, for example. If you would pass

`info "src/Module.hs" "\\"`

Then without backslash-escapes, last quote would be interpreted as literal quote.

So.. yeah. Backslashes have to be escaped. Might consider using another symbol for escaping, though (`\ESC`?)

[2015-12-26 23:04] DanielG commented on #705
Ah yes of course that's no good either. How about adding an option to all commands to selectively turn on quoting? Splitting the command on all spaces first, then checking if say `--escape` is the second argument and then parsing it again with quoting enabled should work.

[2015-12-26 23:07] DanielG commented on #705
So you could have `info --escape "src/Foo.hs" "\\\\"` since the frontend would have to know about the double escaping but still support the old format.

Maybe having the option as the second argument is a bad idea since that will conflict with filenames that used to work in theory, so maybe have --escape be at the end or before the command even or something? Whatever you think works.

[2015-12-26 23:11] lierdakil commented on #705
What if we actually use `\ESC` as an escape symbol though, i.e. ASCII symbol `0x1b`? I don't think it can be used in filenames or Haskell identifiers. Literal double-quotes can still pose a problem though.

[2015-12-26 23:12] lierdakil commented on #705
Or, better yet, use `\STX` and `\ETX` instead of quotes?

[2015-12-26 23:40] lierdakil commented on #705
Actually, yes, now that I think about it, ASCII characters `\STX` and `\ETX` (i.e. `0x02` and `0x03`) should work fine as 'start of quoted fragment' and 'end of quoted fragment'. Then escaping characters becomes a moot point.

Also, quoted `\STX` is a literal `\STX`, and if one needs to include literal `\ETX`, it can be included as `\ETX\ETX\STX` inside quoted segment. I really doubt it's a valid

[2015-12-26 23:46] lierdakil commented on #705
#707 does that.

[2015-12-29 10:47] nrolland commented on #689
it is here
https://github.com/kazu-yamamoto/ghc-mod/blob/master/Language/Haskell/GhcMod/Monad.hs#L59

does it harm anyone though ?

[2015-12-30 20:46] DanBurton opened #709 "Support building against cereal 0.5"
An upper bound was placed at revision 2 of version 5.4 that disallows cereal 0.5.

http://hackage.haskell.org/package/ghc-mod-5.4.0.0/revisions/

Is there something that prevents ghc-mod from being compatible with cereal 0.5? Can this constraint be relaxed?

See also: https://github.com/fpco/stackage/issues/946

[2015-12-30 21:14] DanielG commented on #709
Yap https://github.com/kazu-yamamoto/ghc-mod/issues/678. We replaced it with `binary` to reduce dependency bloat instead of fixing that though but either way a simple bump would not have been possible.

[2015-12-30 21:31] DanBurton commented on #709
Sweet. Any chance of releasing a new version to hackage?

[2015-12-30 21:32] DanielG commented on #709
We're really close but I think we'll need another week to finalize and test everything.

[2016-01-02 08:57] codygman opened #711 "[package name] is unusable due to missing or recursive dependencies:"
[code]

[repo with complete code](https://github.com/codygman/ghc-mod-bug)

I thought maybe this was an issue with my stack install so I wiped out `~/.stack` and the directories `.stack-work` hoping it would solve the issue, but no such luck.

[2016-01-02 09:33] codygman commented on #711
Trying with the current release-5.5.0.0 branch.

[2016-01-02 09:35] codygman commented on #711
Same error, though I'm wondering if I really had 5.5.0.0 checked out since the shell output looked like this:

[code]

[2016-01-02 09:36] codygman commented on #711
More verbose output:

[code]

[2016-01-02 09:40] codygman commented on #711
While trying to explore the ghc-mod codebase I also got these errors:

[code]

[2016-01-02 18:15] DanielG commented on #711
A `ghc-mod debug` in the project directory might be helpful. I have a feeling this might be related to GHC's hardcoded library path.

[2016-01-02 20:27] codygman commented on #711
[code]

[2016-01-03 17:21] #692 closed, assigned to nobody

[2016-01-03 17:22] #698 closed, assigned to nobody

[2016-01-03 17:23] DanielG commented on #660
I think this is fixed in master just reopen if I'm wrong.

[2016-01-03 17:25] #643 closed, assigned to nobody

[2016-01-03 17:26] DanielG commented on #638
I don't think we're going to get any more productive discussion out of this thread so I'm going to close it.

[2016-01-03 17:26] #638 closed, assigned to nobody

[2016-01-03 17:29] DanielG commented on #637
Seems this issue got forgotten about, not really much to go on in your bug report though ;)

See what the following command prints in a shell:

[code]

[2016-01-03 17:33] DanielG commented on #636
Sorry for the late response. I have no idea where those warnings are being generated so if you can find that out and see if there's a flag to turn them off sure. But my gut tells me it's probably deep in the bowls of GHC where no flag has gone before :/

I suppose we could regexp them out of the output but I think you should probably just do that in a little wrapper executable instead of directly

[2016-01-03 17:34] DanielG commented on #632
@d12frosted Any news on this issue?

[2016-01-03 17:36] DanielG commented on #627
I think this is fixed by the PR above so closing.

[2016-01-03 17:36] #627 closed, assigned to kazu-yamamoto

[2016-01-03 17:38] DanielG commented on #623
We have a warning for the dist/setup-config override now so closing.

[2016-01-03 17:38] #623 closed, assigned to nobody

[2016-01-03 17:47] DanielG commented on #558
See also #688

[2016-01-03 17:58] #639 closed, assigned to nobody

[2016-01-03 18:09] user471 commented on #637
thanks, i don't need it anymore.

[2016-01-03 18:09] #637 closed, assigned to nobody

[2016-01-03 18:10] codygman commented on #711
Is this easy for you to reproduce using [the repo I posted earlier](https://github.com/codygman/ghc-mod-bug) @DanielG or shall I go a step further and make a docker image?

[2016-01-03 18:16] DanielG commented on #711
Oh I didn't mean you have to provide more stuff to reproduce it, someone else just has to do it to make sure it's not a problem specific to your environment. Once someone can reproduce it we can consider it a bug.

Though I wouldn't say no to a docker image either ;)

[2016-01-03 19:32] DanielG commented on #711
Looks like Debian unstable's gcc/binutils is too new for ghc's runtime linker or something: `ghc-mod: /home/dxld/.stack/snapshots/x86_64-linux/nightly-2015-12-28/7.10.3/lib/x86_64-linux-ghc-7.10.3/persistent-sqlite-2.2-2ogrkn2pVNi1QFcLfHXk9n/libHSpersistent-sqlite-2.2-2ogrkn2pVNi1QFcLfHXk9n.a: unhandled ELF relocation(RelA) type 42`.

42 seems to be R_386_IRELATIVE.

[2016-01-03 19:45] DanielG commented on #711
Actually that docker container is sounding nice right about now :)

[2016-01-04 17:57] p-pavel commented on #711
Have absolutely the same problem on Mac OS X, GHC-7.10.3, ghc-mod-5.4.0.0.
Additional information attached:
==== ghc-mod list =====
`ghc-mod -v7 list
DEBUG: reading cache: /Users/ppavel/tmp/mystack/.stack-work/dist/x86_64-osx/Cabal-1.22.5.0/setup-config.ghc-mod.package-options
ghc-mod: <command line>: cannot satisfy -package-id persistent-2.2.4-5eb29b5c2f0291a84926f318f4957322:
    persistent-2.2.

[2016-01-04 19:24] DanielG commented on #665
Fixed in 7bbaa35f5665b2be4964c83cf292043bc09bed54

[2016-01-04 19:24] #665 closed, assigned to nobody

[2016-01-05 02:56] daniel-chambers commented on #640
We're having the same problem as @ilyagr above.

An interesting thing we've discovered that this only seems to be an issue when multiple .hs files are involved. For example, if you modify @ilyagr's sample project above and change the `qq.cabal` file modifying `main-is` for the `test-suite` to `LibSpec.hs`, `ghc-mod check test\LibSpec.hs` will work okay.

I've also seen some weirdness that I can't

[2016-01-05 04:58] codygman commented on #711
Daniel, I might be able to do it tomorrow after work.

On Mon, Jan 4, 2016 at 11:57 AM, p-pavel notifications@github.com wrote:

[2016-01-05 08:57] lierdakil commented on #691
Since #665 is fixed, this only gets printed due to internal call to ghc-mod to get SymbolDB. Passing `--verbose error` to invocation should silence it.

[2016-01-07 13:34] KaneTW opened #715 "Imported .hsc module doesn't provide tab-completion in Emacs"
Consider the following project:

hsc-bug.cabal

[code]

src/Bug.hs

[code]

src/Bug/Internal.hs

[code]

`ghc-mod browse Bug.Internal` prints

[code]

 as expected, but no tab completion is offered for those symbols in  Emacs.

[2016-01-08 08:42] y-usuzumi opened #716 "ghc-mod eating up my memory"
I have a cabal project with happy/alex parser rules. (https://github.com/TOSPIO/pyn)
After I opened the project with either Emacs or Atom, and opened arbitrary source files, it rapidly ate up my whole memory (16GiB) and eventually led to kernel panic.

[2016-01-08 08:47] y-usuzumi commented on #716
One thing to notice is that running `cabal repl` can also exhaust memory. `cabal build` works fine, though compiling the Happy-generated hs file takes fairly long time.

[2016-01-08 11:20] DanielG commented on #716
This is a bug in either your code, happy or GHC, certainly not ghc-mod since `cabal repl` exhibits the exact same behavior. Looking at the enormous generated module for the parser (dist/build/Language/Python/Parser/Parse.hs) I'm not really surprised.

https://ghc.haskell.org/trac/ghc/wiki/ReportABug

[2016-01-08 14:18] meditans commented on #711
I'm experiencing the same bug, what should I post here to help debugging?

[2016-01-08 14:46] DanielG commented on #711
Well what we really need is to pin down the cause of this. Since @codygman's testcase is blowing up on my system a simpler one would be useful to have.

Another thing that would help a lot would be a comparison between the GHC options seen in `ghc-mod debug` and `stack ghci`. Unfortunetely even with `--verbose` stack doesn't even print that, all I can find is the line below which doesn't include a

[2016-01-08 15:05] codygman commented on #711
stack -v7 I think prints ghc options
On Jan 8, 2016 8:46 AM, "Daniel Gröber" notifications@github.com wrote:

[2016-01-08 15:13] DanielG commented on #711
`Invalid option `-v7'` :(

[2016-01-08 17:11] DanielG commented on #590
Some progress: https://github.com/kazu-yamamoto/ghc-mod/commit/89b1ac2d1ed70bd8f042f9bc4c8ee8b22984acfe :D

[2016-01-08 17:32] DanielG opened #717 "Check dumpsym caching is backwards compatible"
We use a binary format for the symbol table cache now check what happens when one with the old show'ed format still exists and maybe detect and handle that case.

[2016-01-08 17:32] DanielG commented on #717
See https://github.com/kazu-yamamoto/ghc-mod/commit/89b1ac2d1ed70bd8f042f9bc4c8ee8b22984acfe

[2016-01-08 17:36] DanielG commented on #581
Done. Going in 5.5.0.0.

[2016-01-08 17:36] #581 closed, assigned to nobody

[2016-01-08 17:39] DanielG commented on #562
This was a bug in ghc-mod-5.3.0.0 I don't remember the issue number off hand but the on disk object/hi files were loaded when they weren't supposed to. Should be fixed in 5.4

[2016-01-08 17:39] #562 closed, assigned to nobody

[2016-01-08 18:11] DanielG opened #718 "legacy-interactive doesn't fail (NG) on command format errors"
@lierdakil

[code]

[2016-01-08 18:33] lierdakil commented on #718
Okay, so I've got a question. Is there any reason for old code to replace `\n` with `\\n` and so on? Here: https://github.com/kazu-yamamoto/ghc-mod/blob/de12b61d779e28d0a6d141bc8a4b2ddf22684611/src/GHCMod.hs#L437

Wouldn't it be more logical to use `convert'` there?

[2016-01-08 18:40] lierdakil commented on #718
Anyway, it should be simple enough to revert to that weird thing with `\\\\n`, but for now I just use `convert'`. See 3184bdd or #719

[2016-01-08 19:00] codygman commented on #711
stack build -v7
On Jan 8, 2016 9:13 AM, "Daniel Gröber" notifications@github.com wrote:

[2016-01-08 19:00] DanielG commented on #718
re `\n` escaping: I think it must be a single line and convert' allows the user to set -b'\n' so then it would break.

[2016-01-08 19:01] DanielG commented on #711
Oh right that might actually be good enough since we're only interested in the package flags.

[2016-01-08 19:01] lierdakil commented on #718
Okay... this is kinda weird.

[2016-01-08 19:04] DanielG commented on #718
I know I know it's horribly broken :/

Not sure if it's strictly speaking needed but if the old code does it like that just don't rock the boat unless you want to fix all the other frontends too then feel free :P

[2016-01-08 19:46] jasonzoladz commented on #711
I don't know if this helps, but after I upgraded my default stack resolver to lts-4.0, I was having the same issue when working in pre-lts-4.0 projects.  The problem disappears when you change the specific project's stack.yaml to match the default resolver (i.e., 4.0).  Weird.

[2016-01-08 20:19] meditans commented on #711
@jasonzoladz that happened to me too, then I nuked both `~/.stack` and the local directory `.stack-work` in my project (both are based on lts-4.0 now) and the error went away.

[2016-01-09 21:36] DanielG commented on #717
We're throwing that over stdout now so no problem. Also before the cache was landing in a new tempdir each time anyways (which is a bug reall) so it wouldn't have been a problem at least.

[2016-01-09 21:36] #717 closed, assigned to nobody

[2016-01-09 21:40] DanielG commented on #709
Release is probably going to go out Tue next week so I'm going to close this.

[2016-01-09 21:40] #709 closed, assigned to nobody

[2016-01-09 22:24] #689 closed, assigned to nobody

[2016-01-09 22:25] #718 closed, assigned to nobody

[2016-01-10 08:26] hackeryarn commented on #676
Why not just make a [gitter](https://gitter.im/) for this repo? We can still utilize it to hold discussion especially if they are topic driven, and it comes with full chat logs built in.

[2016-01-10 10:38] nrolland commented on #676
I would be in favor of anything that makes it possible to vote. I dont know how we know what people really want or use now

[2016-01-10 13:38] x-ji commented on #660
Still not working for me. I instlaled `ghc-mod` with stack, resolver version `lts-4.0`. Do I have to manually install ghc-mod via master branch instead of using stack then? However when I tried to run `stack init`/`stack install` in the downloaded repo, it says some of the dependencies can't be met.

[2016-01-10 17:04] DanielG commented on #676
I'd rather not use Gitter it's just another proprietary cloud service, Github is already bad enough. Besides what exactly is wrong with IRC anyways? With the web client we link to in the README it seems to me it has a pretty low barrier, no?

[2016-01-10 17:18] DanielG commented on #660
Ah that's interesting, I can reproduce this but only when .stack-work doesn't exists yet. So after the first run it works just fine.

[2016-01-10 17:49] nrolland commented on #676
IRC is very nice for conversation, but it does not show the priorities, the most wanted stuff, or ways to gather feedback beyond the 27 people who happen to be connected at a particular point in time

[2016-01-10 17:55] DanielG commented on #676
Well that's something that's solvable with a bot or just by counting votes manually. I really don't see what usecase we would have for this? If we want to do user surveys then posting them on reddit/haskell-cafe is going to give them more exposure than anything we could set up anyways so why bother?

[2016-01-10 18:12] codygman commented on #660
That's interesting.
On Jan 10, 2016 11:18 AM, "Daniel Gröber" notifications@github.com wrote:

[2016-01-10 18:14] nrolland commented on #676
everything is solvable, especially with haskell, but it's better to not reinvent the wheel.

I find it extremely damageable to not be able to cast vote on feature. That means arbitrary choice are made which can be very detrimental to the user base at large.

For instance : How bad is it that stack gets overridden by default with cabal ?

[2016-01-10 19:45] hackeryarn commented on #676
[Trello](https://trello.com/) is another option. It could be used to keep a list of desired features and track votes.

[2016-01-10 20:01] DanielG commented on #660
Ah I found the cause `writeAutogenFiles` from cabal-helper doesn't allow passing down Programs so I forgot doing it there. I think I can make a minor upgrade that should be able to go into stackage.

[2016-01-10 20:20] DanielG commented on #676
Sounds pretty much exactly as bad as Gitter: proprietary API, proprietary Apps, proprietary service backend -> no thanks.

[2016-01-10 21:17] DanielG commented on #660
Gah now I have to maintain a stable branch for stackage too. Anyways give it a go:

[code]

[2016-01-11 11:38] nrolland commented on #676
trying to parse out what you say.... which characteristic associated with being proprietary makes you reject all of those ? is it just a philosophical stance ?

[2016-01-11 11:54] DanielG commented on #676
Well there are free software alternatives so I don't see a reason to downgrade to any proprietary tool that might or might not do a better job at the cost of control just because they look fancy. So far I'm still guessing as to what we're actually looking for here apart from it having some kind of fancy support for voting which I argue is not enough incentive to use such a thing for other communic

[2016-01-11 11:57] nrolland commented on #676
ok I close this issue then

[2016-01-11 11:57] #676 closed, assigned to nobody

[2016-01-11 11:59] DanielG commented on #676
Just to be clear I have no problem with setting up any project infrastructure we might like on a server of mine, I'm planning to do some custom CI setup anyways. I just don't know what exactly you want?

[2016-01-11 12:12] nrolland commented on #676
I think it will take someone else to explain it

[2016-01-11 13:36] hackeryarn commented on #676
I think what @nrolland is looking for is a way to integrate github issues into a voting app like that. This would allow us to see what feature requests people are really interested in.

If you are thinking of hand rolling this type of solution, it could be really interesting. And I would definitely be up for helping out. Just let me know.

[2016-01-11 15:28] DanielG commented on #676
That much I got, the bit I don't understand is why don't we use GH issues/IRC for that like for everything else? Are we trying to target users that don't want to respond to a GH issue/IRC or is it about visibility? Because in the latter case how is a voting app or self rolled solution any better than the existing communication channels?

[2016-01-11 16:44] hackeryarn commented on #676
I think the goal is to quantify the desire for features. Not everyone that's interested in a feature has something to contribute on a GH issue/IRC, and just seeing a bunch of +1's or polling an IRC isn't a very good method to gauge the community as a whole.

[2016-01-12 06:55] Cynede opened #722 "Parse error: on `→` symbol in lambda"
for example:

[code]

error:

[code]

and this one is fine:

[code]

master version of ghc-mod: ghc-mod version 5.5.0.0 compiled by GHC 7.10.3, windows 10

[2016-01-12 07:13] alanz commented on #722
Does this compile fine with normal GHC? Do you have

[code]

enabled?

[2016-01-12 07:22] Cynede commented on #722
@alanz yes sure and it compiles, to be able to reproduce: https://github.com/Heather/Sharingan/blob/master/src/HTTP.hs

[2016-01-12 09:29] Cynede commented on #722
same issue on `showChromeVersion :: ∀ τ β. τ → IO β` `Error:Parse error: ╧` not sure if that could be related atom ghc-mod wrapper

[2016-01-12 09:35] alanz commented on #722
To me it looks like unicode is not enabled somewhere along the line

On Tue, Jan 12, 2016 at 11:29 AM, Heather notifications@github.com wrote:

[2016-01-12 09:38] Cynede commented on #722
@alanz it's enabled like this

[code]

[2016-01-12 09:42] alanz commented on #722
I wonder if it is a `map-file` issue where the file is stored with the wrong encoding

[2016-01-12 09:43] Cynede commented on #722
@alanz file encoding is UTF-8

[2016-01-12 11:16] Cynede commented on #722
@alanz same issue if I run from console

[code]

[2016-01-12 12:11] lierdakil commented on #722
@Heather, is this issue specific to lint, or does it manifest on `check` etc as well?

I'm more than a bit rusty with Windows, but I wonder if changing terminal code page makes any difference. `chcp 65001` should set codepage to UTF-8.

[2016-01-12 12:59] Cynede commented on #722
@lierdakil specific to lint, chcp helps actually... should it be integrated to atom calls for windows?

[2016-01-12 13:01] Cynede commented on #722
@lierdakil also I wonder how was it working before

[2016-01-12 16:40] lierdakil commented on #722
It might actually be hlint's fault, since I don't think we changed anything
w.r.t. lint code, not in 5.5.0.0 (?). Master does have some updates though.
I'll try to pinpoint this issue later today.
12 янв. 2016 г. 16:01 пользователь "Heather" notifications@github.com
написал:

[2016-01-12 18:38] lierdakil commented on #722
Okay, this is my fault. I forgot that `readFile` uses system encoding (probably has something to do with the fact that my system uses utf-8). If I force utf-8 before reading file contents, everything works as expected.

[2016-01-12 18:48] alanz commented on #722
FWIW I resorted to using
https://downloads.haskell.org/~ghc/latest/docs/html/libraries/ghc-7.10.3/StringBuffer.html#v:hGetStringBuffer
in the ghc-exactprint roundtrip tests, otherwise some files fail with utf8
too.

In effect it is doing a binary read followed by custom utf8 decode (via
https://downloads.haskell.org/~ghc/latest/docs/html/libraries/ghc-7.10.3/StringBuffer.html#v:lexemeToString
)

O

[2016-01-12 18:58] lierdakil commented on #722
hlint essentially does

[code]

where `enc` is `utf8` by default. So I think it's reasonable enough to replicate this behavior.

[2016-01-12 18:59] lierdakil commented on #722
That said, I should probably get encoding from hlint options rather than unconditionally force utf8.

[2016-01-12 19:43] #722 closed, assigned to nobody

[2016-01-13 00:33] mgsloan opened #725 "If there's a "cabal.sandbox.config", cabal-helper attempts to use cabal-sandbox, whereas ghc-mod is using stack"
[code]